<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "utf-8" />
		<title>买德好</title>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="keywords" content="test" />
		<meta name="description" content="买德好专注打造国内首家德国跨境精品聚集地，只将最具品质及品味的德国正品引入国人生活。涵盖生活多方面的产品体系，带来真正一站式的购物便捷体验。独具特色的知识性模块形式，让你无限贴近德式生活" />
		<link href="favicon.ico" rel="icon" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href="../../css_mdh/personal.css">
        <link rel="stylesheet" type="text/css" href="../../css_mdh/jquery.Jcrop.min.css">
        <script type="text/javascript" src="../../js_mdh/third/jquery.js"></script>
        <script type="text/javascript" src="../../js_mdh/third/jquery.Jcrop.min.js"></script>
        <script type="text/javascript" src="../../js_mdh/main/views/base.js"></script>
        <script type="text/javascript" src="../../js_mdh/main/views/personal.js"></script>
       	<script type="text/javascript" src="../../js_mdh/third/YMDClass.mini.js"></script>
       	<script type="text/javascript" src="../../js_mdh/third/imageUpload.js"></script>
       	<script>
       	 $(function () { 

       	 		function windowSize () {
					    var $popupLayer = $('[data-tag="popupLayer"]');
					    var width = $popupLayer.outerWidth();
					    var height = $popupLayer.outerHeight();
					
					    var windowWdith = $(window).width();
					    var windowHeight = $(window).height();
					    $popupLayer.css({
					      top: (windowHeight-height)/2,
					      left: (windowWdith-width)/2,
					      display: 'block'
					    });
					
					    $('[data-tag="shieldingLayer"]').css({
					      width: windowWdith,
					      height: windowHeight
					    }).show();
						}

			  		$('[data-close="layer"]').click(function() {
							$('[data-tag="popupLayer"]').hide();
			    		$('[data-tag="shieldingLayer"]').hide();
						});

						$('[data-order="close"]').bind('click', function (e) {
							// 弹出窗口随窗口改变
					    windowSize();
					    // 弹出窗口随窗口改变而改变
					    $(window).resize(windowSize);
						}); 
  
            var btn = $("#Button1");  
  
            btn.cropperUpload({  
                url: "WebForm1.aspx",  
                fileSuffixs: ["jpg", "png", "bmp"],  
                errorText: "{0}",  
                onComplete: function (msg) {  
                    $("#testimg").attr("src", msg);  
                },  
                cropperParam: {
                    maxSize: [200, 200],
                    minSize: [126, 126],
                    bgColor: "black",  
                    bgOpacity: .4,  
                    allowResize: true,  
                    allowSelect: true,  
                    animationDelay:50  
                },  
                perviewImageElementId: "fileList",
                perviewImgStyle: { width: '700px', height: '500px', border: '1px solid #ebebeb' }
            });  
  
            var upload = btn.data("uploadFileData");  
  
            $("#files").click(function () {  
                upload.submitUpload();  
            });  
        });  
       	</script>
       	<script>
       		window.onload=function(){
  			new YMDselect('year1','month1','day1');

       		}
 		 </script>
    </head>

    <body>
    	<div class="personal clearfix">
			<ul class="personal-nav fl">
				<li class="me"><a href="./personal.html">我的</a></li>
				<li><a href="./personal-item.html">我的订单</a></li>
				<li><a href="./personal-collect.html">我的收藏</a></li>
				<li><a href="./personal-address.html">收件地址</a></li>
				<li><a href="./personal-security.html">安全中心</a></li>
				<li><a class="current" href="javascript:;">我的信息</a></li>
			</ul>
			<!-- 个人信息详情开始 -->
			<div class="personal-message fr">
				<div class="message">
					<img src="../../images_mdh/icon/personal-img.png" height="126" width="126" onclick = "changeFile()">
					<p>昵称</p>
					<p>15289365896</p>
					<p>1987-08-12</p>
					<p class="sex">
						<span>女</span>
						<em>新晋妈妈</em>
						<b>剁手党</b>
					</p>
					<p class="term">
						<span>预产期</span>
						<em>2016-6-23</em>
					</p>
					<a href="./personal-change.html">修改</a>
				</div>
			</div>
		</div>

		<div class = "shielding-layer" data-tag="shieldingLayer"></div>
		<div class = "popup-layer" data-tag="popupLayer" >
			<div class = "title clearfix" >
				<span>买德好</span>
				<strong class = "fr" data-close="layer" >x</strong>
			</div>
			<div class = "context" >确定取消订单?</div>
			<div class = "button" >
				<a href = "javascript:;" >确定</a>
			</div>
		</div>

		 <div style="width: 400px; height: 300px; float:left">    
            <input id="Button1" type="button" value="选择文件" />    
            <input id="files" type="button" value="上传截图" />    
            <div id="fileList" style="margin-top: 10px; padding-top:10px; border-top:1px solid #C0C0C0;font-size: 13px; width:400px">    
                    
            </div>    
    </div>   
      
    <div id="testdiv" style="padding-top: 580px">  
        <img alt="" src="" id="testimg"/>  
    </div>   
    </body>
</html>