<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset = "utf-8" />
		<title>买德好</title>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="keywords" content="test" />
		<meta name="description" content="买德好专注打造国内首家德国跨境精品聚集地，只将最具品质及品味的德国正品引入国人生活。涵盖生活多方面的产品体系，带来真正一站式的购物便捷体验。独具特色的知识性模块形式，让你无限贴近德式生活" />
		<link href="favicon.ico" rel="icon" type="image/x-icon" />
		<link type="text/css" rel="stylesheet" href="../../css_mdh/common.css" />
    <link rel="stylesheet" type="text/css" href="../../css_mdh/personal.css">
    <script type="text/javascript" src="../../js_mdh/third/jquery.js"></script>
    <script src = "../../js_mdh/third/common.js"></script>
    <script type="text/javascript" src="../../js_mdh/main/views/personal.js"></script>
    <script type="text/javascript" src="../../js_mdh/main/views/base.js"></script>
    </head>
    <body>
    	<!-- 头部开始 -->
		<div data-load="headerData" ></div>
		<script>
			$('[data-load="headerData"]').load('../layout/header.html', {}, function (data) {
				$('[data-load="headerData"]').after(data);
				$('[data-load="headerData"]').remove();
			});
		</script>
		<!-- end -->
		
		<!-- 主体内容开始 -->
		<div class="personal clearfix">
			<!-- 个人中心左侧导航开始 -->
			<!-- 左侧 -->
			<div data-load="loadData" ></div>
			<script>
				$('[data-load="loadData"]').load('personalLeft.html', {}, function (data) {
					$('[data-load="loadData"]').after(data);
					$('[data-load="loadData"]').remove();
				});
			</script>
			<!-- end -->
			<!-- 收件地址开始 -->
			<div class="personal-address fr">
				<div class = "scroll-address">
					<h5>收货地址</h5>
  				<ul class="clearfix">
  					<li class="fl selected">
  						<p class="information">小明1
  							<span class="fr" >152xxxx5268</span>
  						</p>
  						<strong>410183198509055311</strong>
  						<div class="address">
  							<span><b>上海</b>浦东新区</span>
  							<p>祖冲之路2305号</p>
  						</div>
  						<p class="about">
  							<a href="javascript:;" class = "default fl" data-address="default">设为默认地址</a>
  							<a class="editor fl" href="javascript:;" data-address="edit" >编辑</a>
  							<a class="last fr" href="javascript:;" data-address="delete">删除</a>
  						</p>
  					</li>
        		<li class="fl" data-id="12">
        		  <p class="information">小明2
        		    <span class="fr" >152xxxx5268</span>
        		  </p>
        		  <strong>410183198509055311</strong>
        		  <div class="address">
  							<span><b>上海</b>浦东新区</span>
  							<p>祖冲之路2305号</p>
  						</div>
        		  <p class="about clearfix">
        		    <a href="javascript:;" class = "default fl" data-address="default">设为默认地址</a>
        		    <a class="editor fl" href="javascript:;" data-address="edit" >编辑</a>
        		    <a class="last fr" href="javascript:;" data-address="delete">删除</a>
        		  </p>
        		</li>
        		<li class="fl">
        			<button type="button">新增收货地址</button>
        		</li>
  				</ul>
       	</div>
				<div class="add">
					<h6>新增地址信息</h6>
					<form>
						<div class="name">
							<label class="din" for="usename">收件人姓名</label>
							<input type="text" id="usename" placeholder="请输入与身份证一致的姓名" />
							<span>5-150个字符，一个汉字为两个字符</span>
						</div>
						<div class="city">
							<label class="din" for="province_id">省/市</label>
							<select id="selProvance" onchange="chgProvinces(selProvance,selCity,selArea)">
        						<option></option>
   			 				</select>
    						<select id="selCity" onchange="chgCitys(selCity,selArea)">
        						<option></option>
    						</select>
    						<select id="selArea">
        						<option></option>
   				 			</select>
							<span>请选择区域</span>
						</div>
						<div class="place">
							<label class=din for="place">详细地址</label>
							<input type="text" id="place" placeholder="请输入详细的收货地址" />
						</div>
						<div class="number">
							<label class="din" for="number">身份证号</label>
							<input type="text" id="number" placeholder="海关清关所需，请填入18位身份证号码" />
							<span></span>
						</div>
						<div class="mobile">
							<label class="din" for="mobile">手机号码</label>
							<input id="mobile" type="text" placeholder="请输入您的手机号码" />
							<span></span>
						</div>
						<button type="button">新增</button>
					</form>
				</div>
			</div>
		</div>
	


		<!-- 底部开始 -->
		<div data-load="footerData" >
			<script>
				$('[data-load="footerData"]').load('../layout/footer.html', {}, function (data) {
					$('[data-load="footerData"]').after(data);
					$('[data-load="footerData"]').remove();
				});
			</script>
		</div>
		<!-- end -->
    </body>
</html>