<!DOCTYPE html>
<html lang="en">
   <head>
        <meta charset = "utf-8" />
		<title>买德好</title>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="keywords" content="test" />
		<meta name="description" content="买德好专注打造国内首家德国跨境精品聚集地，只将最具品质及品味的德国正品引入国人生活。涵盖生活多方面的产品体系，带来真正一站式的购物便捷体验。独具特色的知识性模块形式，让你无限贴近德式生活" />
		<link href="favicon.ico" rel="icon" type="image/x-icon" />
		<link type="text/css" rel="stylesheet" href="../../css_mdh/common.css" />
        <link rel="stylesheet" type="text/css" href="../../css_mdh/personal.css">
        <script type="text/javascript" src="../../js_mdh/third/jquery.js"></script>
        <script src = "../../js_mdh/third/common.js"></script>
        <script type="text/javascript" src="../../js_mdh/main/views/personal.js"></script>
        <script type="text/javascript" src="../../js_mdh/main/views/base.js"></script>
    </head>
    <body>
    	<!-- 头部开始 -->
		<div data-load="headerData" ></div>
		<script>
			$('[data-load="headerData"]').load('../layout/header.html', {}, function (data) {
				$('[data-load="headerData"]').after(data);
				$('[data-load="headerData"]').remove();
			});
		</script>
		<!-- end -->
		
		<!-- 主体内容开始 -->
		<div class="personal clearfix">
			<!-- 左侧 -->
			<div data-load="loadData" ></div>
			<script>
				$('[data-load="loadData"]').load('personalLeft.html', {}, function (data) {
					$('[data-load="loadData"]').after(data);
					$('[data-load="loadData"]').remove();
				});
			</script>
			<!-- end -->
			<div class="personal-collect fr">
				<div class="without">
					<p>您还没有收藏德国的好产品，<a href="./index.html">快去商城采购吧！</a></p>
				</div>
				<ul class="clearfix" >
					<li class="fl" productId = "123456" >
						<a href = "./item.html" target="blank">
							<img src="../../images_mdh/r1.png" height="260" width="260">
							<p>运动设备
								<span>1024</span>
							</p>
							<div class="top">
								<div class="intop"></div>
								<h3>兔子储物盒</h3>
								<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
								<span>￥325.00</span>
								<div class="collect">
									<button data-tag="addCart" ></button>
									<button class="last" ></button>
								</div>
							</div>
						</a>
					</li>
					<li class="fl" productId = "123456" >
						<a href = "./item.html" target="blank">
							<img src="../../images_mdh/r2.png" height="260" width="260">
							<p>运动设备
								<span>1</span>
							</p>
							<div class="top">
								<div class="intop"></div>
								<h3>兔子储物盒</h3>
								<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
								<span>￥160.00</span>
								<div class="collect">
									<button data-tag="addCart" ></button>
									<button class="last" ></button>
								</div>
							</div>
						</a>
					</li>
					<li class="fl" productId = "123456" >
						<a href = "./item.html" target="blank">
							<img src="../../images_mdh/r3.png" height="260" width="260">
							<p>运动设备
								<span>95</span>
							</p>
							<div class="top">
								<div class="intop"></div>
								<h3>兔子储物盒</h3>
								<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>\
								<span>￥280.00</span>
								<div class="collect">
									<button data-tag="addCart" ></button>
									<button class="last" ></button>
								</div>
							</div>
						</a>
					</li>
					<li class="fl" productId = "123456" >
						<a href = "./item.html" target="blank">
							<img src="../../images_mdh/r1.png" height="260" width="260">
							<p>运动设备
								<span>1024</span>
							</p>
							<div class="top">
								<div class="intop"></div>
								<h3>兔子储物盒</h3>
								<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
								<span>￥325.00</span>
								<div class="collect">
									<button data-tag="addCart" ></button>
									<button class="last" ></button>
								</div>
							</div>
						</a>
					</li>
					<li class="fl" productId = "123456" >
						<a href = "./item.html" target="blank">
							<img src="../../images_mdh/r2.png" height="260" width="260">
							<p>运动设备
								<span>1</span>
							</p>
							<div class="top">
								<div class="intop"></div>
								<h3>兔子储物盒</h3>
								<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
								<span>￥160.00</span>
								<div class="collect">
									<button data-tag="addCart" ></button>
									<button class="last" ></button>
								</div>
							</div>
						</a>
					</li>
					<li class="fl" productId = "123456" >
						<a href = "./item.html" target="blank">
							<img src="../../images_mdh/r3.png" height="260" width="260">
							<p>运动设备
								<span>95</span>
							</p>
							<div class="top">
								<div class="intop"></div>
								<h3>兔子储物盒</h3>
								<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>\
								<span>￥280.00</span>
								<div class="collect">
									<button data-tag="addCart" ></button>
									<button class="last" ></button>
								</div>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
		 <!-- 底部开始 -->
		<div data-load="footerData" >
			<script>
				$('[data-load="footerData"]').load('../layout/footer.html', {}, function (data) {
					$('[data-load="footerData"]').after(data);
					$('[data-load="footerData"]').remove();
				});
			</script>
		</div>
		<!-- end -->
    </body>
</html>