<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "utf-8" />
		<title>买德好</title>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="keywords" content="test" />
		<meta name="description" content="买德好专注打造国内首家德国跨境精品聚集地，只将最具品质及品味的德国正品引入国人生活。涵盖生活多方面的产品体系，带来真正一站式的购物便捷体验。独具特色的知识性模块形式，让你无限贴近德式生活" />
		<link href="favicon.ico" rel="icon" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href="../../css_mdh/personal.css">
        <script type="text/javascript" src="../../js_mdh/third/jquery.js"></script>
        <script type="text/javascript" src="../../js_mdh/main/views/base.js"></script>
        <script type="text/javascript" src="../../js_mdh/main/views/personal.js"></script>
       	<script type="text/javascript" src="../../js_mdh/third/YMDClass.mini.js"></script>
       	<script>
       		window.onload=function(){
  			new YMDselect('year1','month1','day1');
  			new YMDselect('year2','month2','day2');
  			new YMDselect('year3','month3','day3');

       		}
 		 </script>
    </head>

    <body>
    	
		<!-- 主体内容开始 -->
			<!-- 个人中心左侧导航开始 -->
		<div class="personal clearfix">
			<ul class="personal-nav fl">
				<li class="me"><a href="./personal.html">我的</a></li>
				<li><a href="./personal-item.html">我的订单</a></li>
				<li><a href="./personal-collect.html">我的收藏</a></li>
				<li><a href="./personal-address.html">收件地址</a></li>
				<li><a href="./personal-security.html">安全中心</a></li>
				<li><a class="current" href="javascript:;">我的信息</a></li>
			</ul>
			<!-- 个人信息详情开始 -->
			<div class="personal-change fr">
				<p class="statement">请您放心填写，我们承诺妥善保管您的个人信息的隐私权</p>
				<div class="images">
					<img src="../../images_mdh/icon/personal-img.png" height="126" width="126">
					<p class="din">昵称
						<span>15269832985</span>
					</p>
				</div>
				<div class="message">
					<form class="message-form">
						<div class="birthday">
							<p> 
								<span>生日</span>
								(填写生日，小德会为你准备惊喜哦！)
							</p>
							<select id="birthday" name="year1"></select>
							<select name="month1"></select>
							<select name="day1"></select>
						</div>
						<div class="gender">
							<span class="man din">男</span>
							<span class="woman din">女</span>
						</div>
						<div class="genre">
							<p>
								<span class="din">细节控</span>
								<span class="din">生活家</span>
								<span class="din">厨艺达人</span>
								<span class="din">剁手党</span>
							</p>
							<p>
								<span class="din">萌妹纸</span>
								<span class="din">大龄儿童</span>
								<span class="din">女王大人</span>
								<span class="din">准妈妈</span>
								<span class="din">新晋妈妈</span>
							</p>
							<p>
								<span class="din">品质男神</span>
								<span class="din">极客怪咖</span>
								<span class="din">新晋奶爸</span>
							</p>
						</div>
						<p class="statement">我们希望了解您的更多个人信息，以便为您提供更加贴心的的服务体验</p>
						<div class="term">
							<p>
								预产期
							</p>
							<select name="year2"></select>
							<select name="month2"></select>
							<select name="day2"></select>
						</div>
						<div class="baby">
							<p>宝宝性别</p>
							<span class="man din">男</span>
							<span class="woman din">女</span>
						</div>
						<div class="baby-birthday">
							<p>宝宝生日</p>
							<select name="year3"></select>
							<select name="month3"></select>
							<select name="day3"></select>
						</div>
						<button type="submit">保存</button>
					</form>
				</div>
			</div>	
		</div>
		
    </body>
</html>