<!doctype html>
<html>
	<head>
		<meta charset = "utf-8" />
		<title>买德好</title>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="keywords" content="test" />
		<meta name="description" content="买德好专注打造国内首家德国跨境精品聚集地，只将最具品质及品味的德国正品引入国人生活。涵盖生活多方面的产品体系，带来真正一站式的购物便捷体验。独具特色的知识性模块形式，让你无限贴近德式生活" />
		<link href="../../images_mdh/icon/favicon.ico" rel="icon"/>
		<link type="text/css" rel="stylesheet" href="../../css_mdh/common.css" />
		<link type="text/css" rel="stylesheet" href="../../css_mdh/main.css" />
		<script src = "../../js_mdh/third/jquery.js"></script>
		<script src = "../../js_mdh/third/common.js"></script>		
		<script src = "../../js_mdh/main/views/base.js"></script>
		<script src = "../../js_mdh/main/views/index.js"></script>
	</head>
	<body>
		<!-- 头部开始 -->
		<div data-load="headerData" ></div>
		<script>
			$('[data-load="headerData"]').load('header.html', {}, function (data) {
				$('[data-load="headerData"]').after(data);
				$('[data-load="headerData"]').remove();
			});
		</script>
		<!-- 正文开始 -->
		<div class="article clearfix">
			<div class="article-nav fl">
				<ul class="classify">
					<li>热点分类</li>
					<li><a href="javascript:;">买德好保障</a></li>
					<li><a href="javascript:;">新手指南</a></li>
					<li><a href="javascript:;">售后服务</a></li>
					<li><a href="javascript:;">物流配送</a></li>
					<li><a href="javascript:;">关于我们</a></li>
				</ul>
				<ol class="content">
					<li>热点文章</li>
					<li><a href="javascript:;">订单修改</a></li>
					<li><a href="javascript:;">玩转买德好</a></li>
					<li><a href="javascript:;">母婴产品相关问题说明</a></li>
					<li><a href="javascript:;">购物流程</a></li>
					<li><a href="javascript:;">通关关税</a></li>
				</ol>
				<form class="article-form">
					<p>文章搜索</p>
					<input type="text" placeholder="搜&nbsp索"/>
				</form>
			</div>
			<div class="article-text fl">
				<p>
					<span>首页</span>
					&gt
					<span>新手指南</span>
				</p>
				<div class="text">
					<h3 class="clearfix">
						母婴相关
						<p class="fr">
							<span>2016-04-25<b class="time">17:05:28</b></span>
							<em>焦振华</em>
							<span>点击数：<b>11</b></span>
						</p>
					</h3>
					<p class="essay">
						1.买德好为每一位妈妈的宝宝健康成长着想，所售母婴类商品的保质期限均与德国超市所售商品同步，100%正品新鲜德货，您家
						宝宝吃到的与德国宝宝吃的完全一样。品质经德国质监部门的严苛检验，请放心购买。
					</p>
					<p class="essay">
						2.海淘直邮存在一定物流风险，买德好采用优质纸箱和充气囊双层安全包装，尽最大可能将物流风险（如奶粉爆罐和安全扣掉落等）
						降至最低。如您遇到物流途中导致的奶粉爆罐或安全扣掉落等现象，这并非商品质量问题，买德好暂无法负责，还请谅解。
					</p>
				</div>
			</div>
		</div>
		<!-- 底部开始 -->

		<div data-load="footerData" >
			<script>
				$('[data-load="footerData"]').load('footer.html', {}, function (data) {
					$('[data-load="footerData"]').after(data);
					$('[data-load="footerData"]').remove();
				});
			</script>
		</div>
	</body>
</html>