
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title></title>
<meta name="author" content="JSHOP Team" />
<meta name="copyright" content="JSHOP" />

<link rel="stylesheet" type="text/css" href="../../css_mdh/personal.css">
<script type="text/javascript"  src = "../../js_mdh/third/jquery.js"></script>
<script type="text/javascript" src="../../js_mdh/third/jquery.validate.js"></script>
<script type="text/javascript"  src = "../../js_mdh/main/views/base.js"></script>
<script type="text/javascript" src="${base}/resources/shop/${theme}/js/common.js"></script>
<script type="text/javascript">
$().ready(function() {

	var $inputForm = $("#inputForm");
	
	// 表单验证
	$inputForm.validate({
		rules: {
			currentPassword: {
				required: true,
				pattern: /.{6,}/,
				remote: {
					url: "check_current_password.jhtml",
					cache: false
				}
			},
			password: {
				required: true,
				pattern: /.{6,}/,
				minlength: 6
			},
			rePassword: {
				required: true,
				pattern: /.{6,}/,
				equalTo: "#password"
			}
		},
		
		messages: {
	      currentPassword: {
	        required : "六位数以上的密码",
	        pattern: "六位数以上的密码",
	        remote: "旧密码输入错误"
	      },
	      password: {
	        required : "六位数以上的密码",
	        pattern: "请输入六位数以上的密码"
	      },
	      rePassword: {
	        required : "六位数以上的密码",
	        pattern: "请输入六位数以上的密码",
	        equalTo: "与输入的新密码不相同"
	      }
	    }
	});
</script>
</head>
<body>	
	<!-- 主体内容开始 -->
	<div class="personal clearfix">
		<!-- 个人中心左侧导航开始 -->

		<!-- 安全中心开始 -->
		<div class="personal-security fr">
		
			<form id="inputForm" action="update.jhtml" method="post">
				<div class="current password">
					<input type="password" placeholder="${message("shop.member.password.currentPassword")}"  name="currentPassword" class="text" maxlength="200" autocomplete="off" >
				</div>
				<div class="new password">
					<input type="password" placeholder="${message("shop.member.password.newPassword")}" name="password" class="text" maxlength="${setting.passwordMaxLength}" autocomplete="off"  id="password" >
				</div>
				<div class="news password">
					<input type="password" placeholder="${message("shop.member.password.rePassword")}"  name="rePassword" class="text" maxlength="${setting.passwordMaxLength}" autocomplete="off" >
				</div>
				<button class="confirm" type="submit">确认修改</button>
			</form>
			
		</div>
	</div>
	

</body>
</html>