<!doctype html>
<html>
	<head>
		<meta charset = "utf-8" />
		<title>买德好</title>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="keywords" content="test" />
		<meta name="description" content="买德好专注打造国内首家德国跨境精品聚集地，只将最具品质及品味的德国正品引入国人生活。涵盖生活多方面的产品体系，带来真正一站式的购物便捷体验。独具特色的知识性模块形式，让你无限贴近德式生活" />
		<link href="favicon.ico" rel="icon" type="image/x-icon" />
		<link type="text/css" rel="stylesheet" href="../../css_mdh/common.css" />
		<link type="text/css" rel="stylesheet" href="../../css_mdh/main.css" />
		<script src = "../../js_mdh/third/jquery.js"></script>
		<script src = "../../js_mdh/third/common.js"></script>
		<script src = "../../js_mdh/main/views/base.js"></script>
		<script type="text/javascript">

			// 刷选
			$(function () {

				$('[data-tag="form"] a').bind('click', function (e) {
					if ($(this).hasClass('selected')) {
						$('#orderType').val('');
						$(this).removeClass('selected');
					}
					else {
						var name = $(this).attr('data-name') || '';
						$('#orderType').val(name);
						$(this).addClass('selected').siblings('a').removeClass('selected');
					}
					$(this).parents('[data-tag="form"]').submit();
					return false;

				});

			});

		</script>
	</head>
    <body>

   
		<!-- 头部开始 -->
			<div data-load="headerData" ></div>
			<script>
				$('[data-load="headerData"]').load('header.html', {}, function (data) {
					$('[data-load="headerData"]').after(data);
					$('[data-load="headerData"]').remove();
				});
			</script>
			<!-- end -->

		<!-- 商品详情开始 -->
		<div class="goods-nav clearfix">
			<div class="goods-left">
				<form id = "goodsForm" action = "../../test.json" method = "get" data-tag="form" >
					<input type="hidden" id="brandId" name="brandId" value="">
					<input type="hidden" id="promotionId" name="promotionId" value="">
					<input type="hidden" id="orderType" name="orderType" value="">
					<input type="hidden" id="pageNumber" name="pageNumber" value="1">
					<input type="hidden" id="pageSize" name="pageSize" value="20">
					<h2>服饰内衣</h2>
					<a href="javascript:;" class = "default selected">默认</a>
					<a href="javascript:;" data-name="salesDesc">销量<i></i></a>
					<a href="javascript:;" data-name="scoreDesc">人气<i></i></a>
					<a href="javascript:;" data-name="priceAsc">价格<i></i></a>
				</form>
			</div>
			<div class="goods-key">
				<a class="lf" href="javascript:;" ></a>
				<a class="rg" href="javascript:;" ></a>
			</div>
		</div>
		<div class="moods index-moods">
			<ul class="clearfix" >
				<li productId = "123456" >
					<a href = "./item.html" target="blank">
						<img src="../../images_mdh/r1.png" height="270" width="265">
						<p class="pirce">运动设备
							<span>￥2055.00</span>
						</p>
						<div class="top">
							<div class="intop"></div>
							<h3 data-moods="top">为城市骑行设计的后街会带你轻盈穿梭街头，为城市骑行设计的后街会带你轻盈穿梭街头</h3>
							<p>为城市骑行设计的后街会带你轻盈穿梭街头，为城市骑行设计的后街会带你轻盈穿梭街头，为城市骑行设计的后街会带你轻盈穿梭街头，</p>
							<div class="collect">
								<button data-tag="addCart" ></button>
								<button class="last" ></button>
							</div>
						</div>
					</a>
				</li>
				<li productId = "123456" >
					<a href = "./item.html" target="blank">
						<img src="../../images_mdh/r2.png" height="270" width="265">
						<p class="pirce">运动设备
							<span>￥2055.00</span>
						</p>
						<div class="top">
							<div class="intop"></div>
							<h3 data-moods="top">兔子储物盒</h3>
							<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
							<div class="collect">
								<button data-tag="addCart" ></button>
								<button class="last" ></button>
							</div>
						</div>
					</a>
				</li>
				<li productId = "123456" >
					<a href = "./item.html" target="blank">
						<img src="../../images_mdh/r3.png" height="270" width="265">
						<p class="pirce">运动设备
							<span>￥2055.00</span>
						</p>
						<div class="top">
							<div class="intop"></div>
							<h3 data-moods="top">兔子储物盒兔子储物盒兔子储物盒兔子储物盒</h3>
							<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
							<div class="collect">
								<button data-tag="addCart" ></button>
								<button class="last" ></button>
							</div>
						</div>
					</a>
				</li>
				<li productId = "123456" >
					<a href = "./item.html" target="blank">
						<img src="../../images_mdh/r4.png" height="270" width="265">
						<p class="pirce">运动设备
							<span>￥2055.00</span>
						</p>
						<div class="top">
							<div class="intop"></div>
							<h3 data-moods="top">兔子储物盒</h3>
							<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
							<div class="collect">
								<button data-tag="addCart" ></button>
								<button class="last" ></button>
							</div>
						</div>
					</a>
				</li>
				<li productId = "123456" >
					<a href = "./item.html" target="blank">
						<img src="../../images_mdh/r5.png" height="270" width="265">
						<p class="pirce">运动设备
							<span>￥2055.00</span>
						</p>
						<div class="top">
							<div class="intop"></div>
							<h3 data-moods="top">兔子储物盒</h3>
							<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
							<div class="collect">
								<button data-tag="addCart" ></button>
								<button class="last" ></button>
							</div>
						</div>
					</a>
				</li>
				<li productId = "123456" >
					<a href = "./item.html" target="blank">
						<img src="../../images_mdh/r1.png" height="270" width="265">
						<p class="pirce">运动设备
							<span>￥2055.00</span>
						</p>
						<div class="top">
							<div class="intop"></div>
							<h3 data-moods="top">兔子储物盒</h3>
							<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
							<div class="collect">
								<button data-tag="addCart" ></button>
								<button class="last" ></button>
							</div>
						</div>
					</a>
				</li>
				<li productId = "123456" >
					<a href = "./item.html" target="blank">
						<img src="../../images_mdh/r2.png" height="270" width="265">
						<p class="pirce">运动设备
							<span>￥2055.00</span>
						</p>
						<div class="top">
							<div class="intop"></div>
							<h3 data-moods="top">兔子储物盒</h3>
							<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
							<div class="collect">
								<button data-tag="addCart" ></button>
								<button class="last" ></button>
							</div>
						</div>
					</a>
				</li>
				<li productId = "123456" >
					<a href = "./item.html" target="blank">
						<img src="../../images_mdh/r3.png" height="270" width="265">
						<p class="pirce">运动设备
							<span>￥2055.00</span>
						</p>
						<div class="top">
							<div class="intop"></div>
							<h3 data-moods="top">兔子储物盒</h3>
							<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
							<div class="collect">
								<button data-tag="addCart" ></button>
								<button class="last" ></button>
							</div>
						</div>
					</a>
				</li>
				<li productId = "123456" >
					<a href = "./item.html" target="blank">
						<img src="../../images_mdh/r1.png" height="270" width="265">
						<p class="pirce">运动设备
							<span>￥2055.00</span>
						</p>
						<div class="top">
							<div class="intop"></div>
							<h3 data-moods="top">兔子储物盒</h3>
							<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
							<div class="collect">
								<button data-tag="addCart" ></button>
								<button class="last" ></button>
							</div>
						</div>
					</a>
				</li>
				<li productId = "123456" >
					<a href = "./item.html" target="blank">
						<img src="../../images_mdh/r1.png" height="270" width="265">
						<p class="pirce">运动设备
							<span>￥2055.00</span>
						</p>
						<div class="top">
							<div class="intop"></div>
							<h3 data-moods="top">兔子储物盒</h3>
							<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
							<div class="collect">
								<button data-tag="addCart" ></button>
								<button class="last" ></button>
							</div>
						</div>
					</a>
				</li>
				<li productId = "123456" >
					<a href = "./item.html" target="blank">
						<img src="../../images_mdh/r1.png" height="270" width="265">
						<p class="pirce">运动设备
							<span>￥2055.00</span>
						</p>
						<div class="top">
							<div class="intop"></div>
							<h3 data-moods="top">兔子储物盒</h3>
							<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
							<div class="collect">
								<button data-tag="addCart" ></button>
								<button class="last" ></button>
							</div>
						</div>
					</a>
				</li>
				<li productId = "123456" >
					<a href = "./item.html" target="blank">
						<img src="../../images_mdh/r1.png" height="270" width="265">
						<p class="pirce">运动设备
							<span>￥2055.00</span>
						</p>
						<div class="top">
							<div class="intop"></div>
							<h3 data-moods="top">兔子储物盒兔子储物盒兔子储物盒兔子储物盒兔子储物盒</h3>
							<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
							<div class="collect">
								<button data-tag="addCart" ></button>
								<button class="last" ></button>
							</div>
						</div>
					</a>
				</li>
				<li productId = "123456" >
					<a href = "./item.html" target="blank">
						<img src="../../images_mdh/r1.png" height="270" width="265">
						<p class="pirce">运动设备
							<span>￥2055.00</span>
						</p>
						<div class="top">
							<div class="intop"></div>
							<h3 data-moods="top">兔子储物盒</h3>
							<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
							<div class="collect">
								<button data-tag="addCart" ></button>
								<button class="last" ></button>
							</div>
						</div>
					</a>
				</li>
				<li productId = "123456" >
					<a href = "./item.html" target="blank">
						<img src="../../images_mdh/r1.png" height="270" width="265">
						<p class="pirce">运动设备
							<span>￥2055.00</span>
						</p>
						<div class="top">
							<div class="intop"></div>
							<h3 data-moods="top">兔子储物盒</h3>
							<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
							<div class="collect">
								<button data-tag="addCart" ></button>
								<button class="last" ></button>
							</div>
						</div>
					</a>
				</li>
				<li productId = "123456" >
					<a href = "./item.html" target="blank">
						<img src="../../images_mdh/r1.png" height="270" width="265">
						<p class="pirce">运动设备
							<span>￥2055.00</span>
						</p>
						<div class="top">
							<div class="intop"></div>
							<h3 data-moods="top">兔子储物盒兔子储物盒兔子储物盒兔子储物盒兔子储物盒</h3>
							<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
							<div class="collect">
								<button data-tag="addCart" ></button>
								<button class="last" ></button>
							</div>
						</div>
					</a>
				</li>
				<li productId = "123456" >
					<a href = "./item.html" target="blank">
						<img src="../../images_mdh/r1.png" height="270" width="265">
						<p class="pirce">运动设备
							<span>￥2055.00</span>
						</p>
						<div class="top">
							<div class="intop"></div>
							<h3 data-moods="top">兔子储物盒</h3>
							<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
							<div class="collect">
								<button data-tag="addCart" ></button>
								<button class="last" ></button>
							</div>
						</div>
					</a>
				</li>
				<li productId = "123456" >
					<a href = "./item.html" target="blank">
						<img src="../../images_mdh/r1.png" height="270" width="265">
						<p class="pirce">运动设备
							<span>￥2055.00</span>
						</p>
						<div class="top">
							<div class="intop"></div>
							<h3 data-moods="top">兔子储物盒</h3>
							<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
							<div class="collect">
								<button data-tag="addCart" ></button>
								<button class="last" ></button>
							</div>
						</div>
					</a>
				</li>
				<li productId = "123456" >
					<a href = "./item.html" target="blank">
						<img src="../../images_mdh/r1.png" height="270" width="265">
						<p class="pirce">运动设备
							<span>￥2055.00</span>
						</p>
						<div class="top">
							<div class="intop"></div>
							<h3 data-moods="top">兔子储物盒</h3>
							<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
							<div class="collect">
								<button data-tag="addCart" ></button>
								<button class="last" ></button>
							</div>
						</div>
					</a>
				</li>
				<li productId = "123456" >
					<a href = "./item.html" target="blank">
						<img src="../../images_mdh/r1.png" height="270" width="265">
						<p class="pirce">运动设备
							<span>￥2055.00</span>
						</p>
						<div class="top">
							<div class="intop"></div>
							<h3 data-moods="top">兔子储物盒</h3>
							<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
							<div class="collect">
								<button data-tag="addCart" ></button>
								<button class="last" ></button>
							</div>
						</div>
					</a>
				</li>
				<li productId = "123456" >
					<a href = "./item.html" target="blank">
						<img src="../../images_mdh/r1.png" height="270" width="265">
						<p class="pirce">运动设备
							<span>￥2055.00</span>
						</p>
						<div class="top">
							<div class="intop"></div>
							<h3 data-moods="top">兔子储物盒</h3>
							<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
							<div class="collect">
								<button data-tag="addCart" ></button>
								<button class="last" ></button>
							</div>
						</div>
					</a>
				</li>
			</ul>
			<button type="button"></button>
		</div>
		<p class="number">
			<a href="javascript:;">1</a>
			<a href="javascript:;">2</a>
			<a href="javascript:;">3</a>
			<a href="javascript:;">4</a>
			<a href="javascript:;">5</a>
			<a href="javascript:;">6</a>
			<a href="javascript:;">7</a>
			<a href="javascript:;">8</a>
			<a href="javascript:;">9</a>
			<a href="javascript:;">10</a>
			<a href="javascript:;">11</a>
			<a href="javascript:;">12</a>
			<a class="page" href="javascript:;">下一页</a>
			<a class="next" href="javascript:;">尾页</a>
			<span>跳转到
				<input type="text" />页
			</span>
			<button class="din" type="button">确认</button>
		</p>

		
		<!-- 底部开始 -->
		<div data-load="footerData" >
			<script>
				$('[data-load="footerData"]').load('footer.html', {}, function (data) {
					$('[data-load="footerData"]').after(data);
					$('[data-load="footerData"]').remove();
				});
			</script>
		</div>
		<!-- end -->

    </body>
</html>