<link type="text/css" rel="stylesheet" href="../../css_mdh/headerfooter.css" />
<script src="../../js_mdh/main/views/base.js"></script>
<!-- 头部开始 -->
<div id = "header">
	<div id = "top" class = "clearfix" >
		<div class = "fl"></div>
		<div class = "fr right">
			<div class = "is-login" >
				<a href = "javascript:;" >退出</a>
				<i></i>
				<a href = "javascript:;" >小康</a>
			</div>
			<div class = "no-login dn" >
				<a href = "javascript:;" class = "last">消息</a>
				<i></i>
				<a href = "javascript:;" >注册</a>
				<i></i>
				<a href = "javascript:;" >登录</a>
			</div>
		</div>
	</div>
	<div class = "clearfix" >
		<div>
			<a href = "/" class = "fl">
				<h1>买德好</h1>
			</a>
			<div class="search fr" >
				<input type="text" >
				<button type="button"></button>
				<div class = "keyword-search">
					<a href = "javascript:;" >爱他美</a>
					<a href = "javascript:;" >滤水壶</a>
					<a href = "javascript:;" >辅食</a>
					<a href = "javascript:;" >儿童座椅</a>
					<a href = "javascript:;" >剃须刀</a>
				</div>
			</div>
		</div>

	</div>
	
	<!-- 导航开始 -->
	<div class="index-nav">
		<div class="nav">
		<ul class="clearfix">
			<li>
				<a  class="current" href="javascript:;">首&nbsp;页</a>
			</li>
			<li>
				<a href="./list.html" target="blank">类&nbsp;目</a>
				<div class="innav dn">
					<ul class="clearfix">
						<li class="current">
							<a href="javascript:;">母婴用品</a>
						</li>
						<li>
							<a href="javascript:;">家居电器</a>
						</li>
						<li>
							<a href="javascript:;">个护美妆</a>
						</li>
						<li>
							<a href="javascript:;">服饰鞋包</a>
						</li>
						<li>
							<a href="javascript:;">食品保健</a>
						</li>
					</ul>
					<ol>
						<li>
							<div class="content din">
								<div class="row">
									<div class="goods din">
										<p>
											<a href="javascript:;">奶粉</a>
										</p>
										<a href="javascript:;">爱他美</a>
										<span>|</span>
										<a href="javascript:;">喜宝</a>
										<span>|</span>
										<a href="javascript:;">PRE段</a>
										<span>|</span>
										<a href="javascript:;">1段</a>
										<span>|</span>
										<a href="javascript:;">2段</a>
										<span>|</span>
										<a class="no" href="javascript:;">3段</a>
										<span>|</span>
										<a href="javascript:;">4段(1+)</a>
										<span>|</span>
										<a class="no" href="javascript:;">5段(2+)</a>
									</div>
									<div class="goods din">
										<p>
											<a href="javascript:;">宝宝用品</a>
										</p>
										<a href="javascript:;">安全座椅</a>
										<a href="javascript:;">耳温枪</a>
										<a href="javascript:;">辅食料理机</a>
										<a class="no" href="javascript:;">童车/童床</a>
										<a href="javascript:;">宝宝玩具</a>
										<a href="javascript:;">奶瓶奶嘴</a>
										<a class="no" href="javascript:;">宝宝餐具</a>
									</div>
								</div>
								<div class="row">
									<div class="goods din">
										<p>
											<a href="javascript:;">辅食营养</a>
										</p>
										<a href="javascript:;">辅食</a>
										<a class="no" href="javascript:;">米粉</a>
									</div>
									<div class="goods din">
										<p>
											<a href="javascript:;">孕妈必备</a>
										</p>
										<a href="javascript:;">孕前护理</a>
										<a class="no" href="javascript:;">孕后护理</a>
									</div>
								</div>
							</div>
							<div class="image din clearfix">
									<img class="one din" src="../../images_mdh/nav-1.png" height="90" width="90">
									
									<img class="two din" src="../../images_mdh/nav-2.png" height="90" width="90">
									
									<img class="three din" src="../../images_mdh/nav-3.png" height="90" width="90">
									
									<img class="four din" src="../../images_mdh/nav-4.png" height="90" width="90">
									
							</div>
							<div class="entrance din">
								<img src="../../images_mdh/nav-5.png" height="108" width="146">
								<a href="javascript:;">进入频道</a>
							</div>
						</li>
						<li class="dn">
							<div class="content din">
								<div class="row">
									<div class="goods din">
										<p>奶粉</p>
										<a href="javascript:;">爱他美</a>
										<a href="javascript:;">喜宝</a>
										<a href="javascript:;">PRE段</a>
										<a href="javascript:;">1段</a>
										<a href="javascript:;">2段</a>
										<a class="no" href="javascript:;">3段</a>
										<a href="javascript:;">4段(1+)</a>
										<a href="javascript:;">5段(2+)</a>
									</div>
									<div class="goods din">
										<p>宝宝用品</p>
										<a href="javascript:;">安全座椅</a>
										<a href="javascript:;">耳温枪</a>
										<a href="javascript:;">辅食料理机</a>
										<a class="no" href="javascript:;">童车/童床</a>
										<a href="javascript:;">宝宝玩具</a>
										<a href="javascript:;">奶瓶奶嘴</a>
										<a href="javascript:;">宝宝餐具</a>
									</div>
								</div>
								<div class="row">
									<div class="goods din">
										<p>辅食营养</p>
										<a href="javascript:;">辅食</a>
										<a class="no" href="javascript:;">米粉</a>
									</div>
									<div class="goods din">
										<p>孕妈必备</p>
										<a href="javascript:;">孕前护理</a>
										<a class="no" href="javascript:;">孕后护理</a>
									</div>
								</div>
							</div>
							<div class="image din clearfix">
									<img class="one din" src="../../images_mdh/nav-1.png" height="90" width="90">
									
									<img class="two din" src="../../images_mdh/nav-2.png" height="90" width="90">
									
									<img class="three din" src="../../images_mdh/nav-3.png" height="90" width="90">
									
									<img class="four din" src="../../images_mdh/nav-4.png" height="90" width="90">
									
							</div>
							<div class="entrance din">
								<img src="../../images_mdh/r1.png" height="108" width="146">
								<a href="javascript:;">进入频道</a>
							</div>
						</li>
						<li class="dn">
							<div class="content din">
								<div class="row">
									<div class="goods din">
										<p>奶粉</p>
										<a href="javascript:;">爱他美</a>
										<a href="javascript:;">喜宝</a>
										<a href="javascript:;">PRE段</a>
										<a href="javascript:;">1段</a>
										<a href="javascript:;">2段</a>
										<a class="no" href="javascript:;">3段</a>
										<a href="javascript:;">4段(1+)</a>
										<a href="javascript:;">5段(2+)</a>
									</div>
									<div class="goods din">
										<p>宝宝用品</p>
										<a href="javascript:;">安全座椅</a>
										<a href="javascript:;">耳温枪</a>
										<a href="javascript:;">辅食料理机</a>
										<a class="no" href="javascript:;">童车/童床</a>
										<a href="javascript:;">宝宝玩具</a>
										<a href="javascript:;">奶瓶奶嘴</a>
										<a href="javascript:;">宝宝餐具</a>
									</div>
								</div>
								<div class="row">
									<div class="goods din">
										<p>辅食营养</p>
										<a href="javascript:;">辅食</a>
										<a class="no" href="javascript:;">米粉</a>
									</div>
									<div class="goods din">
										<p>孕妈必备</p>
										<a href="javascript:;">孕前护理</a>
										<a class="no" href="javascript:;">孕后护理</a>
									</div>
								</div>
							</div>
							<div class="image din clearfix">
									<img class="one din" src="../../images_mdh/nav-1.png" height="90" width="90">
									
									<img class="two din" src="../../images_mdh/nav-2.png" height="90" width="90">
									
									<img class="three din" src="../../images_mdh/nav-3.png" height="90" width="90">
									
									<img class="four din" src="../../images_mdh/nav-4.png" height="90" width="90">
									
							</div>
							<div class="entrance din">
								<img src="../../images_mdh/r2.png" height="108" width="146">
								<a href="javascript:;">进入频道</a>
							</div>
						</li>
						<li class="dn">
							<div class="content din">
								<div class="row">
									<div class="goods din">
										<p>奶粉</p>
										<a href="javascript:;">爱他美</a>
										<a href="javascript:;">喜宝</a>
										<a href="javascript:;">PRE段</a>
										<a href="javascript:;">1段</a>
										<a href="javascript:;">2段</a>
										<a class="no" href="javascript:;">3段</a>
										<a href="javascript:;">4段(1+)</a>
										<a href="javascript:;">5段(2+)</a>
									</div>
									<div class="goods din">
										<p>宝宝用品</p>
										<a href="javascript:;">安全座椅</a>
										<a href="javascript:;">耳温枪</a>
										<a href="javascript:;">辅食料理机</a>
										<a class="no" href="javascript:;">童车/童床</a>
										<a href="javascript:;">宝宝玩具</a>
										<a href="javascript:;">奶瓶奶嘴</a>
										<a href="javascript:;">宝宝餐具</a>
									</div>
								</div>
								<div class="row">
									<div class="goods din">
										<p>辅食营养</p>
										<a href="javascript:;">辅食</a>
										<a class="no" href="javascript:;">米粉</a>
									</div>
									<div class="goods din">
										<p>孕妈必备</p>
										<a href="javascript:;">孕前护理</a>
										<a class="no" href="javascript:;">孕后护理</a>
									</div>
								</div>
							</div>
							<div class="image din clearfix">
									<img class="one din" src="../../images_mdh/nav-1.png" height="90" width="90">
									
									<img class="two din" src="../../images_mdh/nav-2.png" height="90" width="90">
									
									<img class="three din" src="../../images_mdh/nav-3.png" height="90" width="90">
									
									<img class="four din" src="../../images_mdh/nav-4.png" height="90" width="90">
									
							</div>
							<div class="entrance din">
								<img src="../../images_mdh/r3.png" height="108" width="146">
								<a href="javascript:;">进入频道</a>
							</div>
						</li>
						<li class="dn">
							<div class="content din">
								<div class="row">
									<div class="goods din">
										<p>奶粉</p>
										<a href="javascript:;">爱他美</a>
										<a href="javascript:;">喜宝</a>
										<a href="javascript:;">PRE段</a>
										<a href="javascript:;">1段</a>
										<a href="javascript:;">2段</a>
										<a class="no" href="javascript:;">3段</a>
										<a href="javascript:;">4段(1+)</a>
										<a href="javascript:;">5段(2+)</a>
									</div>
									<div class="goods din">
										<p>宝宝用品</p>
										<a href="javascript:;">安全座椅</a>
										<a href="javascript:;">耳温枪</a>
										<a href="javascript:;">辅食料理机</a>
										<a class="no" href="javascript:;">童车/童床</a>
										<a href="javascript:;">宝宝玩具</a>
										<a href="javascript:;">奶瓶奶嘴</a>
										<a href="javascript:;">宝宝餐具</a>
									</div>
								</div>
								<div class="row">
									<div class="goods din">
										<p>辅食营养</p>
										<a href="javascript:;">辅食</a>
										<a class="no" href="javascript:;">米粉</a>
									</div>
									<div class="goods din">
										<p>孕妈必备</p>
										<a href="javascript:;">孕前护理</a>
										<a class="no" href="javascript:;">孕后护理</a>
									</div>
								</div>
							</div>
							<div class="image din clearfix">
									<img class="one din" src="../../images_mdh/nav-1.png" height="90" width="90">
									
									<img class="two din" src="../../images_mdh/nav-2.png" height="90" width="90">
									
									<img class="three din" src="../../images_mdh/nav-3.png" height="90" width="90">
									
									<img class="four din" src="../../images_mdh/nav-4.png" height="90" width="90">
									
							</div>
							<div class="entrance din">
								<img src="../../images_mdh/r4.png" height="108" width="146">
								<a href="javascript:;">进入频道</a>
							</div>
						</li>
					</ol>
				</div>
			</li>
		</ul>
		</div>
	</div>			

</div>