<!doctype html>
<html>
	<head>
		<meta charset = "utf-8" />
		<title>买德好</title>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="keywords" content="test" />
		<meta name="description" content="买德好专注打造国内首家德国跨境精品聚集地，只将最具品质及品味的德国正品引入国人生活。涵盖生活多方面的产品体系，带来真正一站式的购物便捷体验。独具特色的知识性模块形式，让你无限贴近德式生活" />
		<link href="../../images_mdh/icon/favicon.ico" rel="icon"/>
		<link type="text/css" rel="stylesheet" href="../../css_mdh/common.css" />
		<link type="text/css" rel="stylesheet" href="../../css_mdh/main.css" />
		<script src = "../../js_mdh/third/jquery.js"></script>
		<script src = "../../js_mdh/third/common.js"></script>		
		<script src = "../../js_mdh/main/views/base.js"></script>
		<script src = "../../js_mdh/main/views/index.js"></script>
	</head>
	<body>

	
	
		<!-- 头部开始 -->
		<div data-load="headerData" ></div>
		<script>
			$('[data-load="headerData"]').load('header.html', {}, function (data) {
				$('[data-load="headerData"]').after(data);
				$('[data-load="headerData"]').remove();
			});
		</script>
		<!-- end -->

		<!-- 轮播图开始 -->
			<div class="main_visual">
				<div class="main_image">
					<ul>
						<li>
							<a href="./goodsList.html" target="blank">
								<img src="../../images_mdh/banner.png" />
							</a>
						</li>
						<li>
							<a href="./goodsList.html" target="blank">
								<img src="../../images_mdh/banner1.jpg" />
							</a>
						</li>
						<li>
							<a href="./goodsList.html" target="blank">
								<img src="../../images_mdh/banner1.jpg" />
							</a>
						</li>
						<li >
							<a href="./goodsList.html" target="blank">
								<img src="../../images_mdh/banner2.jpg" />
							</a>
						</li>
					</ul>
					<a id="btn_prev" href="javascript:;" class = "dn"></a>
					<a id="btn_next" href="javascript:;" class = "dn"></a>
				</div>
				<div class="flicking_con">
					<div class="flicking_inner">
						<a href = "javascript: void 0;">
							<h5>pb0110新款上架1</h5>
							<p>植鞣牛皮手工缝制而成</p>
							<i></i>
							<span class = "selected"></span>
						</a>
						<a href = "javascript: void 0;" >
							<h5>pb0110新款上架2</h5>
							<p>植鞣牛皮手工缝制而成</p>
							<i></i>
							<span class = "selected"></span>
						</a>
						<a href = "javascript: void 0;" >
							<h5>pb0110新款上架3</h5>
							<p>植鞣牛皮手工缝制而成</p>
							<i></i>
							<span class = "selected"></span>
						</a>
						<a href = "javascript: void 0;">
							<h5>pb0110新款上架4</h5>
							<p>植鞣牛皮手工缝制而成</p>
							<i></i>
							<span class = "selected"></span>
						</a>
					</div>
				</div>
			</div>
			

		<!-- 图片一区开始 -->
		<div class="main">
			<ul class="clearfix">
				<li class="right">
					<a href="./goodsList.html" target="blank">
						<img src="../../images_mdh/content1.png" height="200" width="540">
					</a>
				</li>
				<li class="right">
					<a href="./goodsList.html" target="blank">
						<img src="../../images_mdh/content2.png" height="200" width="540">
					</a>
				</li>
			</ul>
		</div> 
		<!-- 新品上架开始 -->
		<div class="news" data-tag=news>
			<h2 class="mian-h2 clearfix" >新品上架
				<span>
					<a href="./goodsList.html" target="blank">更多></a>
				</span>
			</h2>
			<ul class="clearfix" >
				<li>
					<a href="./item.html" target="_blank">
						<img src="../../images_mdh/content3.png" height="260" width="260">
					</a>
					<div class="about">
						<a href="javascript:;" target="_blank">
							<h3>德国双心日夜护眼胶囊30粒</h3>
						</a>
						<a href="javascript:;" target="blank">
							<P>疲劳 </P>
						</a>
						<span>￥55.00</span>
						<p class="last">
							<strike>￥1899</strike>
							<a href="javascript:;" >
								<img src="../../images_mdh/icon/about3.png" >
							</a>
							<a href="javascript:;" >
								<img src="../../images_mdh/icon/index-top.png" >
							</a>
						</p>
					</div>
				</li>
				<li>
					<a href="./item.html" target="blank">
						<img src="../../images_mdh/content4.png" height="260" width="260">
					</a>
					<div class="about" target="blank">
						<a href="javascript:;">
							<h3>德国双心日夜护眼胶囊30粒</h3>
						</a>
						<a href="javascript:;" target="blank">
							<P>疲劳用眼人群需常备 日夜护眼胶囊 原装进口</P>
						</a>
						<span>￥55.00</span>
						<p class="last">
							<strike>￥1899</strike>
							<a href="javascript:;" target="blank">
								<img src="../../images_mdh/icon/about3.png" >
							</a>
							<a href="javascript:;" target="blank">
								<img src="../../images_mdh/icon/index-top.png" >
							</a>
						</p>
					</div>
				</li>
				<li>
					<a href="./item.html" target="blank">
						<img src="../../images_mdh/content5.png" height="260" width="260">
					</a>
					<div class="about">
						<a href="javascript:;" target="blank">
							<h3>德国双心日夜护眼胶囊30粒</h3>
						</a>
						<a href="javascript:;" target="blank">
							<P>疲劳用眼人群需常备 日夜护眼胶囊 原装进口</P>
						</a>
						<span>￥55.00</span>
						<p class="last">
							<strike>￥1899</strike>
							<a href="javascript:;" target="blank">
								<img src="../../images_mdh/icon/about3.png" >
							</a>
							<a href="javascript:;" target="blank">
								<img src="../../images_mdh/icon/index-top.png" >
							</a>
						</p>
					</div>
				</li>
				<li>
					<a href="./item.html" target="blank">
						<img src="../../images_mdh/content6.png" height="260" width="260">
					</a>
					<div class="about">
						<a href="javascript:;" target="blank">
							<h3>德国双心日夜护眼胶囊30粒</h3>
						</a>
						<a href="javascript:;" target="blank">
							<P>疲劳用眼人群需常备 日夜护眼胶囊 原装进口</P>
						</a>
						<span>￥55.00</span>
						<p class="last">
							<strike>￥1899</strike>
							<a href="javascript:;" target="blank">
								<img src="../../images_mdh/icon/about3.png">
							</a>
							<a href="javascript:;" target="blank">
								<img src="../../images_mdh/icon/index-top.png">
							</a>
						</p>
					</div>
				</li>
			</ul>
		</div>
		<!-- 图片区域2开始 -->
		<div class="main1">
			<ul class="clearfix">
				<li class="big">
					<a href="./item.html" target="_blank">
						<img src="../../images_mdh/index1.png" height="544" width="368">
					</a>
				</li>
				<li class="fl">
					<a href="./item.html" target="_blank">
						<img src="../../images_mdh/index2.png" height="262" width="714">
					</a>
				</li>
				<li class="fl">
					<a href="./item.html" target="_blank">
						<img src="../../images_mdh/index3.png" height="264" width="714">
					</a>
				</li>
			</ul>
			<ol class="clearfix">
				<li>
					<a href="./item.html" target="_blank">
						<img src="../../images_mdh/index4.png" height="265" width="715">
					</a>
				</li>
				<li>
					<a href="./item.html" target="_blank">
						<img src="../../images_mdh/index5.png" height="265" width="370">
					</a>
				</li>
				
			</ol>
		</div>
		<!-- 人气商品开始 -->
		<div class="moods index-moods">
			<h2 class="mian-h2 clearfix">人气商品
			</h2>
			<ul class="clearfix" >
				<li productId = "123456" >
					<a href = "./item.html" target="blank">
						<img src="../../images_mdh/r1.png" height="270" width="265">
						<p class="pirce">运动设备
							<span>￥2055.00</span>
						</p>
						<div class="top">
							<div class="intop"></div>
							<h3 data-moods="top">为城市骑行设计的后街会带你轻盈穿梭街头为城市骑行设计的后街会带你轻盈穿梭街头为城市骑行设计的后街会带你轻盈穿梭街头，</h3>
							<p>为城市骑行设计的后街会带你轻盈穿梭街头，为城市骑行设计的后街会带你轻盈穿梭街头，为城市骑行设计的后街会带你轻盈穿梭街头，</p>
							<div class="collect">
								<button data-tag="addCart" ></button>
								<button class="last" ></button>
							</div>
						</div>
					</a>
				</li>
				<li productId = "123456" >
					<a href = "./item.html" target="blank">
						<img src="../../images_mdh/r2.png" height="270" width="265">
						<p class="pirce">运动设备
							<span>￥2055.00</span>
						</p>
						<div class="top">
							<div class="intop"></div>
							<h3 data-moods="top">兔子储物盒</h3>
							<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
							<div class="collect">
								<button data-tag="addCart" ></button>
								<button class="last" ></button>
							</div>
						</div>
					</a>
				</li>
				<li productId = "123456" >
					<a href = "./item.html" target="blank">
						<img src="../../images_mdh/r3.png" height="270" width="265">
						<p class="pirce">运动设备
							<span>￥2055.00</span>
						</p>
						<div class="top">
							<div class="intop"></div>
							<h3 data-moods="top">兔子储物盒兔子储物盒兔子储物盒兔子储物盒</h3>
							<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
							<div class="collect">
								<button data-tag="addCart" ></button>
								<button class="last" ></button>
							</div>
						</div>
					</a>
				</li>
				<li productId = "123456" >
					<a href = "./item.html" target="blank">
						<img src="../../images_mdh/r4.png" height="265" width="265">
						<p class="pirce">运动设备
							<span>￥2055.00</span>
						</p>
						<div class="top">
							<div class="intop"></div>
							<h3 data-moods="top">兔子储物盒</h3>
							<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
							<div class="collect">
								<button data-tag="addCart" ></button>
								<button class="last" ></button>
							</div>
						</div>
					</a>
				</li>
				<li productId = "123456" >
					<a href = "./item.html" target="blank">
						<img src="../../images_mdh/r5.png" height="265" width="265">
						<p class="pirce">运动设备
							<span>￥2055.00</span>
						</p>
						<div class="top">
							<div class="intop"></div>
							<h3 data-moods="top">兔子储物盒</h3>
							<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
							<div class="collect">
								<button data-tag="addCart" ></button>
								<button class="last" ></button>
							</div>
						</div>
					</a>
				</li>
				<li productId = "123456" >
					<a href = "./item.html" target="blank">
						<img src="../../images_mdh/r1.png" height="265" width="265">
						<p class="pirce">运动设备
							<span>￥2055.00</span>
						</p>
						<div class="top">
							<div class="intop"></div>
							<h3 data-moods="top">兔子储物盒</h3>
							<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
							<div class="collect">
								<button data-tag="addCart" ></button>
								<button class="last" ></button>
							</div>
						</div>
					</a>
				</li>
				<li productId = "123456" >
					<a href = "./item.html" target="blank">
						<img src="../../images_mdh/r2.png" height="265" width="265">
						<p class="pirce">运动设备
							<span>￥2055.00</span>
						</p>
						<div class="top">
							<div class="intop"></div>
							<h3 data-moods="top">兔子储物盒</h3>
							<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
							<div class="collect">
								<button data-tag="addCart" ></button>
								<button class="last" ></button>
							</div>
						</div>
					</a>
				</li>
				<li productId = "123456" >
					<a href = "./item.html" target="blank">
						<img src="../../images_mdh/r3.png" height="270" width="265">
						<p class="pirce">运动设备
							<span>￥2055.00</span>
						</p>
						<div class="top">
							<div class="intop"></div>
							<h3 data-moods="top">兔子储物盒</h3>
							<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
							<div class="collect">
								<button data-tag="addCart" ></button>
								<button class="last" ></button>
							</div>
						</div>
					</a>
				</li>
				<li productId = "123456" >
					<a href = "./item.html" target="blank">
						<img src="../../images_mdh/r1.png" height="270" width="265">
						<p class="pirce">运动设备
							<span>￥2055.00</span>
						</p>
						<div class="top">
							<div class="intop"></div>
							<h3 data-moods="top">兔子储物盒</h3>
							<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
							<div class="collect">
								<button data-tag="addCart" ></button>
								<button class="last" ></button>
							</div>
						</div>
					</a>
				</li>
				<li productId = "123456" >
					<a href = "./item.html" target="blank">
						<img src="../../images_mdh/r1.png" height="270" width="265">
						<p class="pirce">运动设备
							<span>￥2055.00</span>
						</p>
						<div class="top">
							<div class="intop"></div>
							<h3 data-moods="top">兔子储物盒</h3>
							<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
							<div class="collect">
								<button data-tag="addCart" ></button>
								<button class="last" ></button>
							</div>
						</div>
					</a>
				</li>
				<li productId = "123456" >
					<a href = "./item.html" target="blank">
						<img src="../../images_mdh/r1.png" height="270" width="265">
						<p class="pirce">运动设备
							<span>￥2055.00</span>
						</p>
						<div class="top">
							<div class="intop"></div>
							<h3 data-moods="top">兔子储物盒</h3>
							<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
							<div class="collect">
								<button data-tag="addCart" ></button>
								<button class="last" ></button>
							</div>
						</div>
					</a>
				</li>
				<li productId = "123456" >
					<a href = "./item.html" target="blank">
						<img src="../../images_mdh/r1.png" height="270" width="265">
						<p class="pirce">运动设备
							<span>￥2055.00</span>
						</p>
						<div class="top">
							<div class="intop"></div>
							<h3 data-moods="top">兔子储物盒兔子储物盒兔子储物盒兔子储物盒兔子储物盒</h3>
							<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
							<div class="collect">
								<button data-tag="addCart" ></button>
								<button class="last" ></button>
							</div>
						</div>
					</a>
				</li>
				<li productId = "123456" >
					<a href = "./item.html" target="blank">
						<img src="../../images_mdh/r1.png" height="270" width="265">
						<p class="pirce">运动设备
							<span>￥2055.00</span>
						</p>
						<div class="top">
							<div class="intop"></div>
							<h3 data-moods="top">兔子储物盒</h3>
							<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
							<div class="collect">
								<button data-tag="addCart" ></button>
								<button class="last" ></button>
							</div>
						</div>
					</a>
				</li>
				<li productId = "123456" >
					<a href = "./item.html" target="blank">
						<img src="../../images_mdh/r1.png" height="270" width="265">
						<p class="pirce">运动设备
							<span>￥2055.00</span>
						</p>
						<div class="top">
							<div class="intop"></div>
							<h3 data-moods="top">兔子储物盒</h3>
							<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
							<div class="collect">
								<button data-tag="addCart" ></button>
								<button class="last" ></button>
							</div>
						</div>
					</a>
				</li>
				<li productId = "123456" >
					<a href = "./item.html" target="blank">
						<img src="../../images_mdh/r1.png" height="270" width="265">
						<p class="pirce">运动设备
							<span>￥2055.00</span>
						</p>
						<div class="top">
							<div class="intop"></div>
							<h3 data-moods="top">兔子储物盒兔子储物盒兔子储物盒兔子储物盒兔子储物盒</h3>
							<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
							<div class="collect">
								<button data-tag="addCart" ></button>
								<button class="last" ></button>
							</div>
						</div>
					</a>
				</li>
				<li productId = "123456" >
					<a href = "./item.html" target="blank">
						<img src="../../images_mdh/r1.png" height="270" width="265">
						<p class="pirce">运动设备
							<span>￥2055.00</span>
						</p>
						<div class="top">
							<div class="intop"></div>
							<h3 data-moods="top">兔子储物盒</h3>
							<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
							<div class="collect">
								<button data-tag="addCart" ></button>
								<button class="last" ></button>
							</div>
						</div>
					</a>
				</li>
				<li productId = "123456" >
					<a href = "./item.html" target="blank">
						<img src="../../images_mdh/r1.png" height="270" width="265">
						<p class="pirce">运动设备
							<span>￥2055.00</span>
						</p>
						<div class="top">
							<div class="intop"></div>
							<h3 data-moods="top">兔子储物盒</h3>
							<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
							<div class="collect">
								<button data-tag="addCart" ></button>
								<button class="last" ></button>
							</div>
						</div>
					</a>
				</li>
				<li productId = "123456" >
					<a href = "./item.html" target="blank">
						<img src="../../images_mdh/r1.png" height="270" width="265">
						<p class="pirce">运动设备
							<span>￥2055.00</span>
						</p>
						<div class="top">
							<div class="intop"></div>
							<h3 data-moods="top">兔子储物盒</h3>
							<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
							<div class="collect">
								<button data-tag="addCart" ></button>
								<button class="last" ></button>
							</div>
						</div>
					</a>
				</li>
				<li productId = "123456" >
					<a href = "./item.html" target="blank">
						<img src="../../images_mdh/r1.png" height="270" width="265">
						<p class="pirce">运动设备
							<span>￥2055.00</span>
						</p>
						<div class="top">
							<div class="intop"></div>
							<h3 data-moods="top">兔子储物盒</h3>
							<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
							<div class="collect">
								<button data-tag="addCart" ></button>
								<button class="last" ></button>
							</div>
						</div>
					</a>
				</li>
				<li productId = "123456" >
					<a href = "./item.html" target="blank">
						<img src="../../images_mdh/r1.png" height="270" width="265">
						<p class="pirce">运动设备
							<span>￥2055.00</span>
						</p>
						<div class="top">
							<div class="intop"></div>
							<h3 data-moods="top">兔子储物盒</h3>
							<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
							<div class="collect">
								<button data-tag="addCart" ></button>
								<button class="last" ></button>
							</div>
						</div>
					</a>
				</li>
			</ul>
			<button type="button"></button>
		</div>
		<!-- 底部开始 -->

		<div data-load="footerData" >
			<script>
				$('[data-load="footerData"]').load('footer.html', {}, function (data) {
					$('[data-load="footerData"]').after(data);
					$('[data-load="footerData"]').remove();
				});
			</script>
		</div>
		<!-- end -->

	</body>
</html>