<!doctype html>
<html>
  <head>
    <meta charset = "utf-8" />
    <title>买德好</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="test" />
    <meta name="description" content="买德好专注打造国内首家德国跨境精品聚集地，只将最具品质及品味的德国正品引入国人生活。涵盖生活多方面的产品体系，带来真正一站式的购物便捷体验。独具特色的知识性模块形式，让你无限贴近德式生活" />
    <link href="favicon.ico" rel="icon" type="image/x-icon" />
    <link type="text/css" rel="stylesheet" href="../../css_mdh/main.css" />
    <script src = "../../js_mdh/third/jquery.js"></script>
    <script src = "../../js_mdh/third/jqueryzoom.js"></script>
    <script src = "../../js_mdh/main/views/base.js"></script>
    <script src = "../../js_mdh/main/views/item.js"></script>
    <script>
      $(function () {

        // 查看ajax发送和接收数据打开浏览器控制台

        /**
         * 产品表单初始化，验证和事件
         * item.js   19-118
         */
        var shoppingForm = ShoppingForm();

        /**
         * 购物车验证和事件
         * item.js   120-233
         */
        ShoppingCart({
          shoppingForm: shoppingForm,    // 表单对象数据
          usernameId: 123,  //getCookie('usernameId');  // 用户cookie id
          urlCartPost: '../../test/item.json',    // 购物车Ajax
          urlLogin:    './landing.html',  // 登录链接
          data: {
            // 对象
            productId: '1234567'
          }
        });

        /**
         * 立即购买验证和事件
         * item.js   234-307
         */
        BuyImmediately({
          shoppingForm: shoppingForm,    // 表单对象数据
          usernameId: 123,  //getCookie('usernameId');  // 用户cookie id
          urlBuyImmediatelyPost: '../../test/test.json',    // 购物车Ajax
          urlLogin:    './landing.html',   // 登录链接
          urlOrder:    './ShoppingCart.html',     // 订单页面
          data: {
            // 对象
            productId: '1234567',

          }
        });

      });
    </script>
  </head>
  <body>
  
    <!-- main start -->
    <div class = "item-main">
      <div class = "item-main-detail clearfix" data-tag="item" >
        <p class="nav">
        <span>买德好</span>
        &gt
        <em>家居</em>
        &gt
        <b>法国原装下午茶茶壶</b>
        </p>
        <div class = "item-left fl">
          <ul data-tag="small">
            <li>
              <a href = "javascript:void(0)" >
                <img src = "../../images_mdh/small.png" title = "one" jqimg = "../../images_mdh/small.png" />
              </a>
            </li>
            <li>
              <a href = "javascript:void(0)" >
                <img src = "../../images_mdh/thumb1.png" title = "one" jqimg = "../../images_mdh/thumb1.png" />
              </a>
            </li>
            <li>
              <a href = "javascript:void(0)" >
                <img src = "../../images_mdh/thumb2.png" title = "one" jqimg = "../../images_mdh/thumb2.png" />
              </a>
            </li>
            <li>
              <a href = "javascript:void(0)" >
                <img src = "../../images_mdh/thumb3.png" title = "one" jqimg = "../../images_mdh/thumb3.png" />
              </a>
            </li>
          </ul>
        </div>
        <div class = "item-middle fl">
          <div class = "item-big"  >
            <a href = "javascript:;" id = "jqzoom" class = "jqzoom">
              <img jqimg = "../../images_mdh/big.png" src = "../../images_mdh/big.png"  alt = "big" />
            </a>

          </div>
        </div>
        <div class = "item-right fl">
          <div class = "title" >
            <h2>法国原装下午茶茶壶</h2>
            <p>
              精致的银色，流线几何造型，给你一个精致的<br>
              下午时光
            </p>
          </div>
          <div class = "price" >
            <h5>869<span>元</span></h5>
            <p>含税额123.00元&nbsp;&nbsp;4折&nbsp;<span>¥2187</span></p>
          </div>
          <div class = "item-sku" data-tag="formList">
            <dl class = "size clearfix">
              <dt>尺码</dt>
              <dd>
                <ul class="clearfix" data-property="尺码">
                  <li class="fl">
                    <a href = "javascript:void(0)" >
                      <span>120ml</span>
                      <i></i>
                    </a>
                  </li>
                  <li class="fl">
                    <a href = "javascript:void(0)" >
                      <span>240ml</span>
                      <i></i>
                    </a>
                  </li>
                  <li class="fl">
                    <a href = "javascript:void(0)" >
                      <span>360ml</span>
                      <i></i>
                    </a>
                  </li>
                </ul>
              </dd>
            </dl>
            <p class = "sku-p">免运费     （订单满288免运费）</p>
            <p class = "sku-p">该商品由上海自贸区发出</p>
            <dl class = "color clearfix">
              <dt>颜色</dt>
              <dd>
                <ul class="clearfix" data-property="颜色">
                  <li class="grap fl" >
                    <a href = "javascript:void(0)" >
                      <span class="din">灰色</span>
                      <i></i>
                    </a>
                  </li>
                  <li class = "white fl">
                    <a href = "javascript:void(0)" >
                      <span class="din">白色</span>
                      <i></i>
                    </a>
                  </li>
                  <li class = "yellow fl">
                    <a href = "javascript:void(0)" >
                      <span class="din">黄色</span>
                      <i></i>
                    </a>
                  </li>
                </ul>
              </dd>
            </dl>
            <dl class = "amount clearfix">
              <dt>数量</dt>
              <dd>
                <a href = "javascript:void(0)" data-tag="minus" >-</a>
                <input data-tag="number" value = "1">
                <a href = "javascript:void(0)" data-tag="plus">+</a>
              </dd>
            </dl>
            <dl class = "share clearfix">
              <dt>分享</dt>
              <dd data-share="btn">
                  <a href="javascript:;">
                    <span class="btn din">分享</span>
                  </a> 
                  <div class="way din" data-share="way">
                    <a href="javascript:;">
                      <span class="wechat din">分享</span>
                    </a> 
                    <a href="javascript:;">
                      <span class="weibo din">分享</span>
                    </a>
                    <a href="javascript:;">
                      <span class="circle din">分享</span>
                    </a>
                    <a href="javascript:;">
                      <span class="other din">分享</span>
                    </a>   
                  </div> 
              </dd>
            </dl>
            <div class = "button" data-tag="button" >
              <button type = "button" class = "add" data-tag="addCart">
                加入购物车
              </button>
              <button type = "button" class = "submit" data-tag="buyImmediately">
                立即购买
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class = "item-main-grid clearfix" >
        <div class = "item-right fr" >
         
        </div>
        <div class = "item-left fl" >
          
        </div>
        <div class = "item-middle" >
          <ul class="clearfix">
            <li class="fl"><a href="javascript:;">商品参数</a></li>
            <li class="fl"><a href="javascript:;">品牌介绍</a></li>
            <li class="fl"><a href="javascript:;">购买流程</a></li>
            <li class="fl"><a href="javascript:;">关于买德好</a></li>
          </ul>
          <div class="parameter">
            <p>
              分为金色、银色、套装<br>
              扫描本中二维码，可下载整张专辑<br>
              成品尺寸130*180mm;<br>
              金色款：亮金光膜，与250g单铜对裱，压凹，压线；<br>
              银色款：亮银光膜 <br>
              内文180P，印刷4色+专金，银色款内文印刷4色+专银，三边滚金滚银；<br>
            </p>
            <img src="../../images_mdh/small.png" height="750" width="750">
            <img src="../../images_mdh/small.png" height="750" width="750">
          </div>
        </div>
      </div>
    </div>
    <!-- main end -->
    
      <script>

        $(function () {
          // 购物车加减产品事件
          function minusPlusShopping(data) {

            console.log("post: ");
            console.log(data);

            $.ajax({
              url: '../../test/minusplus.json',
              type: "POST",
              data: data,
              dataType: "json",
              cache: false,
              success: function(message) {
                console.log(message)
              }
            });
          };

           // 加
          $('[data-right="plus"]').bind('click', function (e) {
            var times = 100;
            var $number = $(this).siblings('[data-right="num"]');
            var $priceAll = $(this).siblings('[data-right="priceAll"]');
            var num = parseInt($number.html());
            var priceAll = parseInt($priceAll.html())*times;
            var price = priceAll/num;
            if (num > 0 ) {
              $number.html(++num);
              $priceAll.html(((priceAll+price)/times).toFixed(2));
              // ajax 收集数据
              data = {
                productId: $(this).parents('.warp').attr('data-product'),
                num: num
              }
              minusPlusShopping(data);  // ajax
            }
          });

          // 减
          $('[data-right="minus"]').bind('click', function () {
            var times = 100;
            var $number = $(this).siblings('[data-right="num"]');
            var $priceAll = $(this).siblings('[data-right="priceAll"]');
            var num = parseInt($number.html());
            var priceAll = parseInt($priceAll.html())*times;
            var price = priceAll/num;
            if (num >= 2 ) {
              $number.html(--num);
              $priceAll.html(((priceAll-price)/times).toFixed(2));

               // ajax 收集数据
              data = {
                productId: $(this).parents('.warp').attr('data-product'),
                num: num
              }
              minusPlusShopping(data);  // ajax
            }
          });

          $('[data-right="delete"]').bind('click', function () {
            var target = $(this).parents('.warp');
            var productId = target.attr('data-product');
            var checked = target.find('[data-tag="select"]').is(':checked');
            var self = this;
            var data = {
              productId: productId
            };

            console.log("post: ");
            console.log(data);

            $.ajax({
              url: "../../test/test.json",
              type: "POST",
              data: data,
              dataType: "json",
              cache: false,
              success: function(message) {

                console.log("message: ");
                console.log(message);

                if (message.type == "success") {
                  target.remove();
                }
              }
            });
          });


        });
      </script>
  </body>
</html>