<!doctype html>
<html>
  <head>
    <meta charset = "utf-8" />
    <title>买德好</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="test" />
    <meta name="description" content="买德好专注打造国内首家德国跨境精品聚集地，只将最具品质及品味的德国正品引入国人生活。涵盖生活多方面的产品体系，带来真正一站式的购物便捷体验。独具特色的知识性模块形式，让你无限贴近德式生活" />
    <link href="favicon.ico" rel="icon" type="image/x-icon" />
    <link type="text/css" rel="stylesheet" href="../../css_mdh/common.css" />
    <link type="text/css" rel="stylesheet" href="../../css_mdh/main.css" />
    <script src = "../../js_mdh/third/jquery.js"></script>
    <script src = "../../js_mdh/third/common.js"></script>
    <script src = "../../js_mdh/third/jqueryzoom.js"></script>
    <script src = "../../js_mdh/main/views/base.js"></script>
    <script src = "../../js_mdh/main/views/item.js"></script>
    <script>
      $(function () {

        // 查看ajax发送和接收数据打开浏览器控制台

        /**
         * 产品表单初始化，验证和事件
         * item.js   19-118
         */
        var shoppingForm = ShoppingForm();

        /**
         * 购物车验证和事件
         * item.js   120-233
         */
        ShoppingCart({
          shoppingForm: shoppingForm,    // 表单对象数据
          usernameId: 123,  //getCookie('usernameId');  // 用户cookie id
          urlCartPost: '../../test/item.json',    // 购物车Ajax
          urlLogin:    './landing.html',  // 登录链接
          data: {
            // 对象
            productId: '1234567'
          }
        });

        /**
         * 立即购买验证和事件
         * item.js   234-307
         */
        BuyImmediately({
          shoppingForm: shoppingForm,    // 表单对象数据
          usernameId: 123,  //getCookie('usernameId');  // 用户cookie id
          urlBuyImmediatelyPost: '../../test/test.json',    // 购物车Ajax
          urlLogin:    './landing.html',   // 登录链接
          urlOrder:    './ShoppingCart.html',     // 订单页面
          data: {
            // 对象
            productId: '1234567',

          }
        });

      });
    </script>
  </head>
  <body>

 <!-- 头部开始 -->
  <div data-load="headerData" ></div>
  <script>
    $('[data-load="headerData"]').load('header.html', {}, function (data) {
      $('[data-load="headerData"]').after(data);
      $('[data-load="headerData"]').remove();
    });
  </script>
  <!-- end -->

  
    <!-- main start -->
    <div class = "item-main">
      <div class = "item-main-detail clearfix" data-tag="item" >
        <p class="nav">
        <span>买德好</span>
        &gt
        <em>家居</em>
        &gt
        <b>法国原装下午茶茶壶</b>
        </p>
        <div class = "item-left fl">
          <ul data-tag="small">
            <li>
              <a href = "javascript:void(0)" >
                <img src = "../../images_mdh/small.png" title = "one" jqimg = "../../images_mdh/small.png" />
              </a>
            </li>
            <li>
              <a href = "javascript:void(0)" >
                <img src = "../../images_mdh/thumb1.png" title = "one" jqimg = "../../images_mdh/thumb1.png" />
              </a>
            </li>
            <li>
              <a href = "javascript:void(0)" >
                <img src = "../../images_mdh/thumb2.png" title = "one" jqimg = "../../images_mdh/thumb2.png" />
              </a>
            </li>
            <li>
              <a href = "javascript:void(0)" >
                <img src = "../../images_mdh/thumb3.png" title = "one" jqimg = "../../images_mdh/thumb3.png" />
              </a>
            </li>
          </ul>
        </div>
        <div class = "item-middle fl">
          <div class = "item-big"  >
            <a href = "javascript:;" id = "jqzoom" class = "jqzoom">
              <img jqimg = "../../images_mdh/big.png" src = "../../images_mdh/big.png"  alt = "big" />
            </a>

          </div>
        </div>
       <!--  <div class = "item-right fl">
          <div class = "title" >
            <h2>法国原装下午茶茶壶</h2>
            <p>
              精致的银色，流线几何造型，给你一个精致的<br>
              下午时光
            </p>
          </div>
          <div class = "price" >
            <h5>869<span>元</span></h5>
            <p>含税额123.00元&nbsp;&nbsp;4折&nbsp;<span>¥2187</span></p>
          </div>
          <div class = "item-sku" data-tag="formList">
            <dl class = "size clearfix">
              <dt>尺码</dt>
              <dd>
                <ul class="clearfix" data-property="尺码">
                  <li class="fl">
                    <a href = "javascript:void(0)" >
                      <span>120ml</span>
                      <i></i>
                    </a>
                  </li>
                  <li class="fl">
                    <a href = "javascript:void(0)" >
                      <span>240ml</span>
                      <i></i>
                    </a>
                  </li>
                  <li class="fl">
                    <a href = "javascript:void(0)" >
                      <span>360ml</span>
                      <i></i>
                    </a>
                  </li>
                </ul>
              </dd>
            </dl>
            <p class = "sku-p">免运费     （订单满288免运费）</p>
            <p class = "sku-p">该商品由上海自贸区发出</p>
            <dl class = "color clearfix">
              <dt>颜色</dt>
              <dd>
                <ul class="clearfix" data-property="颜色">
                  <li class="grap fl" >
                    <a href = "javascript:void(0)" >
                      <span class="din">灰色</span>
                      <i></i>
                    </a>
                  </li>
                  <li class = "white fl">
                    <a href = "javascript:void(0)" >
                      <span class="din">白色</span>
                      <i></i>
                    </a>
                  </li>
                  <li class = "yellow fl">
                    <a href = "javascript:void(0)" >
                      <span class="din">黄色</span>
                      <i></i>
                    </a>
                  </li>
                </ul>
              </dd>
            </dl>
            <dl class = "amount clearfix">
              <dt>数量</dt>
              <dd>
                <a href = "javascript:void(0)" data-tag="minus" >-</a>
                <input data-tag="number" value = "1">
                <a href = "javascript:void(0)" data-tag="plus">+</a>
              </dd>
            </dl>
            <dl class = "share clearfix">
              <dt>分享</dt>
              <dd data-share="btn">
                  <a href="javascript:;">
                    <span class="btn din">分享</span>
                  </a> 
                  <div class="way din" data-share="way">
                    <a href="javascript:;">
                      <span class="wechat din">分享</span>
                    </a> 
                    <a href="javascript:;">
                      <span class="weibo din">分享</span>
                    </a>
                    <a href="javascript:;">
                      <span class="circle din">分享</span>
                    </a>
                    <a href="javascript:;">
                      <span class="other din">分享</span>
                    </a>   
                  </div> 
              </dd>
            </dl>
            <div class = "button" data-tag="button" >
              <button type = "button" class = "add" data-tag="addCart">
                加入购物车
              </button>
              <button type = "button" class = "submit" data-tag="buyImmediately">
                立即购买
              </button>
            </div>
          </div>
        </div> -->
        <div class="item-right fl">
      <div class="title">
        <h2>苹果六</h2>
        <p>
            苹果小标题
        </p>
      </div>
      
      <div class="price">
      <h5 id="price">￥5000.00</h5>
        <p>
          <span>
            <em>市场价:</em>
            <del id="marketPrice">￥6000.00</del>
          </span>
        </p>
      </div>
      <div class="item-sku" data-tag="formList">
        
                        <div id="specification" class="specification clearfix">
                <div class="title">请选择商品规格</div>
                  <dl class="clearfix">
                    <dt>
                      <span title="color">color:</span>
                    </dt>
                        <dd>
                          <a href="javascript:;" class="locked" val="0">
                            白色<span title="点击取消选择">&nbsp;</span>
                            <i></i>
                          </a>
                        </dd>
                        <dd>
                          <a href="javascript:;" val="1" class="locked selected">
                            黑色<span title="点击取消选择">&nbsp;</span>
                            <i></i>
                          </a>
                        </dd>
                  </dl>
              </div>
        
          
        <dl class="amount clearfix">
                <dt>数量</dt>
                <dd>
                  <a href="javascript:void(0)" data-tag="minus">-</a>
                  <input data-tag="number" value="1">
                  <a href="javascript:void(0)" data-tag="plus">+</a>
                </dd>
              </dl>
            
        <dl class="share clearfix">
                <dt>分享</dt>
                <dd>   
                   
            <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
              <a class="bds_qzone" title="分享到QQ空间" href="#"></a>
              <a class="bds_tsina" title="分享到新浪微博" href="#"></a>
              <a class="bds_tqq" title="分享到腾讯微博" href="#"></a>
              <a class="bds_renren" title="分享到人人网" href="#"></a>
              <a class="bds_t163" title="分享到网易微博" href="#"></a>
              <span class="bds_more"></span>
              <a class="shareCount" href="#" title="累计分享0次">0</a>
            </div>
          
                </dd>
              </dl>
              <form method="post" action="/jshop/order/checkout.jhtml">
              <div class="button" data-tag="button"><img src="http://127.0.0.1:8080/jshop/upload/image/201604/2bfdc5b7-32f6-4986-bf7b-2ba0fed617d8-thumbnail.jpg" largeimg="http://127.0.0.1:8080/jshop/upload/image/201604/2bfdc5b7-32f6-4986-bf7b-2ba0fed617d8-large.jpg" jqimg="http://127.0.0.1:8080/jshop/upload/image/201604/2bfdc5b7-32f6-4986-bf7b-2ba0fed617d8-source.jpg" title="小图标" style="width: 0px; height: 0px;">
                
                <button type="button" class="add" data-tag="addCart">
                   加入购物车
                </button>
              
                <input type="hidden" id="productId" name="productId" value="">
                <input type="hidden" id="quantity" name="quantity" value="">
                <input type="hidden" name="type" value="buy">
                <button type="button" class="submit" data-tag="buyImmediately">
                   立即购买
                </button>
                
              </div>
              </form>
            </div>
            
        </div>
      </div>
      <div class = "item-main-grid clearfix" >
        <div class = "item-right fr" >
         
        </div>
        <div class = "item-left fl" >
          
        </div>
        <div class = "item-middle" >
          <ul class="clearfix">
            <li class="fl"><a href="javascript:;">商品参数</a></li>
            <li class="fl"><a href="javascript:;">品牌介绍</a></li>
            <li class="fl"><a href="javascript:;">购买流程</a></li>
            <li class="fl"><a href="javascript:;">关于买德好</a></li>
          </ul>
          <div class="parameter">
            <p>
              分为金色、银色、套装<br>
              扫描本中二维码，可下载整张专辑<br>
              成品尺寸130*180mm;<br>
              金色款：亮金光膜，与250g单铜对裱，压凹，压线；<br>
              银色款：亮银光膜 <br>
              内文180P，印刷4色+专金，银色款内文印刷4色+专银，三边滚金滚银；<br>
            </p>
            <img src="../../images_mdh/small.png" height="750" width="750">
            <img src="../../images_mdh/small.png" height="750" width="750">
          </div>
        </div>
      </div>
    </div>
    <!-- main end -->

    <!-- 底部开始 -->
    <div data-load="footerData" >
      <script>
        $('[data-load="footerData"]').load('footer.html', {}, function (data) {
          $('[data-load="footerData"]').after(data);
          $('[data-load="footerData"]').remove();
        });
      </script>
    </div>
    <!-- end -->
  </body>
</html>