<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset = "utf-8" />
		<title>买德好</title>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="keywords" content="test" />
		<meta name="description" content="test" />
		<link href="favicon.ico" rel="icon" type="image/x-icon" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="flexible" content="initial-dpr=2,maximum-dpr=3" />
		<script data-tag="jsPath" src = "../../js_mdh/main/config/common.js"></script>
		<link type="text/css" rel="stylesheet" href="../../css_mdh/main.css" />
		<script>
			common.loading.mainJs("layout/index");
		</script>
		<!--[if lt IE 9]>
      <script src="../../css_mdh/ie/html5shiv.min.js"></script>
      <script src="../../css_mdh/ie/flexie.js"></script>
      <script src="../../css_mdh/ie/selectivizr.js"></script>
      <noscript><link rel="stylesheet" href="[fallback css]" /></noscript>
		<![endif]-->
	</head>
    <body>
    	<!-- 头部开始 -->
		<header>
			<a href = "/">
				<h1>买德好</h1>
			</a>
			<div class="search">
				<form>
					<input type="text" placeholder="请输入内容.....">
					<button></button>
				</form>
			</div>
			<!-- 导航开始 -->
			<div class="nav">
				<ul class="clearfix">
					<li>
						<a href="">主页</a>
					</li>
					<li>
						<a href="">菜单</a>
						<div class="innav">
							<ol class="clearfix">
								<li>
									<a href="">
										<h2>家居</h2>
									</a>
									<a href="">儿童用品</a>
									<a href="">家具</a>
									<a href="">家居配饰</a>
									<a href="">厨卫用品</a>
								</li>
								<li>
									<a href="">
										<h2>服饰</h2>
									</a>
									<a href="">男士</a>
									<a href="">女士</a>
									<a href="">儿童</a>
								</li>
								<li>
									<a href="">
										<h2>其它</h2>
									</a>
									<a href="">工具</a>
									<a href="">玩具</a>
									<a href="">出版</a>
									<a href="">数码</a>
									<a href="">户外用品</a>
									<a href="">美容护肤</a>
								</li>
								<li>
									<a href="">
										<h2>艺术</h2>
									</a>
									<a href="">绘画</a>
									<a href="">摄影</a>
									<a href="">雕塑</a>
									<a href="">礼物</a>
								</li>
							</ol>
						</div>
					</li>
				</ul>
			</div>			
		</header>
    </body>
</html>