<!doctype html>
<html>
	<head>
		<meta charset = "utf-8" />
		<title>买德好</title>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="keywords" content="test" />
		<meta name="description" content="买德好专注打造国内首家德国跨境精品聚集地，只将最具品质及品味的德国正品引入国人生活。涵盖生活多方面的产品体系，带来真正一站式的购物便捷体验。独具特色的知识性模块形式，让你无限贴近德式生活" />
		<link href="favicon.ico" rel="icon" type="image/x-icon" />
		<link type="text/css" rel="stylesheet" href="../../css_mdh/common.css" />
		<link type="text/css" rel="stylesheet" href="../../css_mdh/main.css" />
		<script src = "../../js_mdh/third/jquery.js"></script>
		<script src = "../../js_mdh/third/common.js"></script>
		<script src = "../../js_mdh/main/views/base.js"></script>

	</head>
    <body>

    	<!-- 头部开始 -->
			<div data-load="headerData" ></div>
			<script>
				$('[data-load="headerData"]').load('header.html', {}, function (data) {
					$('[data-load="headerData"]').after(data);
					$('[data-load="headerData"]').remove();
				});
			</script>
			<!-- end -->

		<!-- 内容区域开始 -->
		<div class="list-content clearfix">
			<div class="nav fl">
				<h2>家具电器</h2>
				<ul class="list-nav">
					<li>生活用品
						<ol>
							<li><a href="javascript:;">清洁用品</a></li>
							<li><a href="javascript:;">驱虫除毒</a></li>
							<li><a href="javascript:;">宠物生活</a></li>
							<li><a href="javascript:;">五金工具</a></li>
						</ol>
					</li>
					<li>厨房用品</li>
					<li>数码办公</li>
					<li>生活电器</li>
					<li>个护小家电</li>
					<li>宠物专区</li>
				</ul>
				<div class="brand">
					<h3>热销品牌</h3>
					<a href="javascript:;">碧然德</a>
					<a href="javascript:;">双立人</a>
					<a href="javascript:;">WMF</a>
					<a href="javascript:;">西门子</a>
					<a href="javascript:;">森海塞尔</a>
				</div>
			</div>
			<div class="content fr clearfix">
				<ol class="list-images clearfix">
					<li class="right">
						<a href="./goodsList.html" target="blank">
							<img src="../../images_mdh/list-1.png" height="	318" width="545">
						</a>
					</li>
					<li class="top">
						<a href="./goodsList.html" target="blank">
							<img src="../../images_mdh/list-2.png" height="	151" width="269">
						</a>
					</li>
					<li>
						<a herf="./goodsList.html" target="blank">
							<img src="../../images_mdh/list-4.png" height="	151" width="269">
						</a>
					</li>
				</ol>
					<div class="moods">
						<h3 class="mian-h2">热门商品
							<span>
								<a href="javascript:;" target="blank">更多></a>
							</span>
						</h3>
						<ul class="clearfix" >
							<li productId = "123456" data-items="list">
								<a href = "./item.html" target="blank">
									<img src="../../images_mdh/r1.png" height="270" width="265">
									<p>运动设备
										<span>￥2055.00</span>
									</p>
									<div class="top">
										<div class="intop"></div>
										<h3>兔子储物盒</h3>
										<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
										<div class="collect">
											<button data-tag="addCart" ></button>
											<button class="last" ></button>
										</div>
									</div>
								</a>
							</li>
							<li productId = "123456" data-items="list" >
								<a href = "./item.html" target="blank">
									<img src="../../images_mdh/r2.png" height="270" width="265">
									<p>运动设备
										<span>￥2055.00</span>
									</p>
									<div class="top">
										<div class="intop"></div>
										<h3>兔子储物盒</h3>
										<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
										<div class="collect">
											<button data-tag="addCart" ></button>
											<button class="last" ></button>
										</div>
									</div>
								</a>
							</li>
							<li productId = "123456" data-items="list">
								<a href = "./item.html" target="blank">
									<img src="../../images_mdh/r3.png" height="270" width="265">
									<p>运动设备
										<span>￥2055.00</span>
									</p>
									<div class="top">
										<div class="intop"></div>
										<h3>兔子储物盒</h3>
										<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
										<div class="collect">
											<button data-tag="addCart" ></button>
											<button class="last" ></button>
										</div>
									</div>
								</a>
							</li>
							<li productId = "123456" data-items="list">
								<a href = "./item.html" target="blank">
									<img src="../../images_mdh/r4.png" height="270" width="265">
									<p>运动设备
										<span>￥2055.00</span>
									</p>
									<div class="top">
										<div class="intop"></div>
										<h3>兔子储物盒</h3>
										<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
										<div class="collect">
											<button data-tag="addCart" ></button>
											<button class="last" ></button>
										</div>
									</div>
								</a>
							</li>
							<li productId = "123456" data-items="list">
								<a href = "./item.html" target="blank" >
									<img src="../../images_mdh/r5.png" height="270" width="265">
									<p>运动设备
										<span>￥2055.00</span>
									</p>
									<div class="top">
										<div class="intop"></div>
										<h3>兔子储物盒</h3>
										<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
										<div class="collect">
											<button data-tag="addCart" ></button>
											<button class="last" ></button>
										</div>
									</div>
								</a>
							</li>
							<li productId = "123456" data-items="list">
								<a href = "./item.html" target="blank">
									<img src="../../images_mdh/r1.png" height="270" width="265">
									<p>运动设备
										<span>￥2055.00</span>
									</p>
									<div class="top">
										<div class="intop"></div>
										<h3>兔子储物盒</h3>
										<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
										<div class="collect">
											<button data-tag="addCart" ></button>
											<button class="last" ></button>
										</div>
									</div>
								</a>
							</li>
							<li productId = "123456" data-items="list">
								<a href = "./item.html" target="blank">
									<img src="../../images_mdh/r2.png" height="270" width="265">
									<p>运动设备
										<span>￥2055.00</span>
									</p>
									<div class="top">
										<div class="intop"></div>
										<h3>兔子储物盒</h3>
										<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
										<div class="collect">
											<button data-tag="addCart" ></button>
											<button class="last" ></button>
										</div>
									</div>
								</a>
							</li>
							<li productId = "123456" data-items="list">
								<a href = "./item.html" target="blank">
									<img src="../../images_mdh/r3.png" height="270" width="265">
									<p>运动设备
										<span>￥2055.00</span>
									</p>
									<div class="top">
										<div class="intop"></div>
										<h3>兔子储物盒</h3>
										<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
										<div class="collect">
											<button data-tag="addCart" ></button>
											<button class="last" ></button>
										</div>
									</div>
								</a>
							</li>
							<li productId = "123456" data-items="list">
								<a href = "./item.html" target="blank">
									<img src="../../images_mdh/r1.png" height="270" width="265">
									<p>运动设备
										<span>￥2055.00</span>
									</p>
									<div class="top">
										<div class="intop"></div>
										<h3>兔子储物盒</h3>
										<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
										<div class="collect">
											<button data-tag="addCart" ></button>
											<button class="last" ></button>
										</div>
									</div>
								</a>
							</li>
							<li productId = "123456" data-items="list">
								<a href = "./item.html" target="blank">
									<img src="../../images_mdh/r1.png" height="270" width="265">
									<p>运动设备
										<span>￥2055.00</span>
									</p>
									<div class="top">
										<div class="intop"></div>
										<h3>兔子储物盒</h3>
										<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
										<div class="collect">
											<button data-tag="addCart" ></button>
											<button class="last" ></button>
										</div>
									</div>
								</a>
							</li>
							<li productId = "123456" data-items="list">
								<a href = "./item.html" target="blank">
									<img src="../../images_mdh/r1.png" height="270" width="265">
									<p>运动设备
										<span>￥2055.00</span>
									</p>
									<div class="top">
										<div class="intop"></div>
										<h3>兔子储物盒</h3>
										<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
										<div class="collect">
											<button data-tag="addCart" ></button>
											<button class="last" ></button>
										</div>
									</div>
								</a>
							</li>
							<li productId = "123456" data-items="list">
								<a href = "./item.html" target="blank">
									<img src="../../images_mdh/r1.png" height="270" width="265">
									<p>运动设备
										<span>￥2055.00</span>
									</p>
									<div class="top">
										<div class="intop"></div>
										<h3>兔子储物盒</h3>
										<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
										<div class="collect">
											<button data-tag="addCart" ></button>
											<button class="last" ></button>
										</div>
									</div>
								</a>
							</li>
							<li productId = "123456" data-items="list">
								<a href = "./item.html" target="blank">
									<img src="../../images_mdh/r1.png" height="270" width="265">
									<p>运动设备
										<span>￥2055.00</span>
									</p>
									<div class="top">
										<div class="intop"></div>
										<h3>兔子储物盒</h3>
										<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
										<div class="collect">
											<button data-tag="addCart" ></button>
											<button class="last" ></button>
										</div>
									</div>
								</a>
							</li>
							<li productId = "123456" data-items="list">
								<a href = "./item.html" target="blank">
									<img src="../../images_mdh/r1.png" height="270" width="265">
									<p>运动设备
										<span>￥2055.00</span>
									</p>
									<div class="top">
										<div class="intop"></div>
										<h3>兔子储物盒</h3>
										<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
										<div class="collect">
											<button data-tag="addCart" ></button>
											<button class="last" ></button>
										</div>
									</div>
								</a>
							</li>
							<li productId = "123456" data-items="list">
								<a href = "./item.html" target="blank">
									<img src="../../images_mdh/r1.png" height="270" width="265">
									<p>运动设备
										<span>￥2055.00</span>
									</p>
									<div class="top">
										<div class="intop"></div>
										<h3>兔子储物盒</h3>
										<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
										<div class="collect">
											<button data-tag="addCart" ></button>
											<button class="last" ></button>
										</div>
									</div>
								</a>
							</li>
							<li productId = "123456" >
								<a href = "./item.html" target="blank">
									<img src="../../images_mdh/r1.png" height="270" width="265">
									<p>运动设备
										<span>￥2055.00</span>
									</p>
									<div class="top">
										<div class="intop"></div>
										<h3>兔子储物盒</h3>
										<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
										<div class="collect">
											<button data-tag="addCart" ></button>
											<button class="last" ></button>
										</div>
									</div>
								</a>
							</li>
							<li productId = "123456" data-items="list">
								<a href = "./item.html" target="blank">
									<img src="../../images_mdh/r1.png" height="270" width="265">
									<p>运动设备
										<span>￥2055.00</span>
									</p>
									<div class="top">
										<div class="intop"></div>
										<h3>兔子储物盒</h3>
										<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
										<div class="collect">
											<button data-tag="addCart" ></button>
											<button class="last" ></button>
										</div>
									</div>
								</a>
							</li>
							<li productId = "123456" data-items="list">
								<a href = "./item.html" target="blank">
									<img src="../../images_mdh/r1.png" height="270" width="265">
									<p>运动设备
										<span>￥2055.00</span>
									</p>
									<div class="top">
										<div class="intop"></div>
										<h3>兔子储物盒</h3>
										<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
										<div class="collect">
											<button data-tag="addCart" ></button>
											<button class="last" ></button>
										</div>
									</div>
								</a>
							</li>
							<li productId = "123456" data-items="list">
								<a href = "./item.html" target="blank">
									<img src="../../images_mdh/r1.png" height="270" width="265">
									<p>运动设备
										<span>￥2055.00</span>
									</p>
									<div class="top">
										<div class="intop"></div>
										<h3>兔子储物盒</h3>
										<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
										<div class="collect">
											<button data-tag="addCart" ></button>
											<button class="last" ></button>
										</div>
									</div>
								</a>
							</li>
							<li productId = "123456" data-items="list">
								<a href = "./item.html" target="blank">
									<img src="../../images_mdh/r1.png" height="270" width="265">
									<p>运动设备
										<span>￥2055.00</span>
									</p>
									<div class="top">
										<div class="intop"></div>
										<h3>兔子储物盒</h3>
										<p>为城市骑行设计的后街会带你轻盈穿梭街头，做一个城市骑行家！</p>
										<div class="collect">
											<button data-tag="addCart" ></button>
											<button class="last" ></button>
										</div>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		 

		<!-- 底部开始 -->
		<div data-load="footerData" >
			<script>
				$('[data-load="footerData"]').load('footer.html', {}, function (data) {
					$('[data-load="footerData"]').after(data);
					$('[data-load="footerData"]').remove();
				});
			</script>
		</div>
		<!-- end -->

	</body>	
</html>