<!DOCTYPE html>
<html lang="en">
     <head>
		<meta charset = "utf-8" />
		<title>买德好</title>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="keywords" content="test" />
		<meta name="description" content="买德好专注打造国内首家德国跨境精品聚集地，只将最具品质及品味的德国正品引入国人生活。涵盖生活多方面的产品体系，带来真正一站式的购物便捷体验。独具特色的知识性模块形式，让你无限贴近德式生活" />
		<link href="favicon.ico" rel="icon" type="image/x-icon" />
		<link type="text/css" rel="stylesheet" href="../../css_mdh/main.css" />
		<script src = "../../js_mdh/third/jquery.js"></script>
		<script src = "../../js_mdh/main/views/base.js"></script>
		<script src = "../../js_mdh/main/views/pay.js"></script>
		<script>
			$(function () {
				/**
				 * 微信过期刷新页面
				 * pay.js    1-80
				 */
				WechatPrompt({
					urlRefreshPost: '../../test/add.php',  // ajax 判断微信支付是否过期， 返回success表示过期
					data: {
						// 对象
						productId: '1234567'
					}
				});

				/**
				 * 支付成功
				 * pay.js    81-165
				 */
				PaySuccess({
					urlPaySuccessPost: '../../test/add.php',  // ajax 支付成功， 返回success表示成功了
					data: {
						// 对象
						productId: '1234567'
					}
				});
			});

		</script>
	</head>
    <body>
    	<div id = "header">
			<a href = "javascript:;">
				<h1>买德好</h1>
			</a>
			<div class="search">
				<form>
					<input type="text" placeholder="请输入内容.....">
					<button type="button"></button>
				</form>
			</div>
			<!-- 导航开始 -->
			<div class="nav">
				<ul class="clearfix">
					<li>
						<a href="javascript:;">主页</a>
					</li>
					<li>
						<a href="javascript:;">菜单</a>
						<div class="innav">
							<ol class="clearfix">
								<li>
									<a href="javascript:;">
										<h2>家居</h2>
									</a>
									<a href="javascript:;">儿童用品</a>
									<a href="javascript:;">家具</a>
									<a href="javascript:;">家居配饰</a>
									<a href="javascript:;">厨卫用品</a>
								</li>
								<li>
									<a href="javascript:;">
										<h2>服饰</h2>
									</a>
									<a href="javascript:;">男士</a>
									<a href="javascript:;">女士</a>
									<a href="javascript:;">儿童</a>
								</li>
								<li>
									<a href="">
										<h2>其它</h2>
									</a>
									<a href="javascript:;">工具</a>
									<a href="javascript:;">玩具</a>
									<a href="javascript:;">出版</a>
									<a href="javascript:;">数码</a>
									<a href="javascript:;">户外用品</a>
									<a href="javascript:;">美容护肤</a>
								</li>
								<li>
									<a href="">
										<h2>艺术</h2>
									</a>
									<a href="javascript:;">绘画</a>
									<a href="javascript:;">摄影</a>
									<a href="javascript:;">雕塑</a>
									<a href="javascript:;">礼物</a>
								</li>
							</ol>
						</div>
					</li>
					<li>
						<a href="javascript:;">积分商城</a>
					</li>
					<li>
						<a href="javascript:;">个人中心</a>
					</li>
					<li class="fr">
						<a href="javascript:;">注册</a>
					</li>
					<li class="fr">
						<a href="javascript:;">登陆</a>
					</li>
				</ul>
			</div>			
		</div>
		<div class="pay">
			<p class="order">
				请及时付款，以便尽快给您发货！<br>
				订单号：201603281433gorder03329317&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="javascript:;">订单详情</a> <br>
				价格：800.00元<br>
				请您在提交订单后0小时57分127秒内完成支付，否则订单会自动取消。
			</p>
			<p class="message">
				nice泰国椰清4个附赠开椰器和吸管，单果1000-1100g(限江浙沪)上海保税区发货/德国发货<br>
				收货信息：上海市，浦东新区，祖冲之路2305号天之骄子B栋508室，xxx，手机：xxxxxxxxxxx
			</p>
			<div class="wechat">
				<P>微信支付</P>
				<img src="../../images_mdh/wechat.png" width="190" height="190">
				<span>请使用微信扫一扫<br>扫描二维码支付</span>
				<a href="javascript:;">选择支付宝进行结算</a>
			</div>
			
		</div结束>

		<div class = "wechat-refresh" data-tag="wechatRefresh" >
			<h3>微信支付</h3>
			<p>你的二维码已过期<br/>请刷新页面</p>
			<a href = "javascript:;" data-tag="refreshClick">刷&nbsp;新</a>
		</div>
		
		<div class = "shielding-layer" data-tag="shieldingLayer"></div>
		<div class = "popup-layer" data-tag="popupLayer" >
			<div class = "title clearfix" >
				<span class = "fl">支付成功</span>
				<strong class = "fr" data-tag="popupClose">x</strong>
			</div>
			<div class = "context" >
				<p>你的订单已经支付成功，我们将尽快为你发货</p>
			</div>
			<div class = "button" >
				<a href = "./order.html" data-tag="jumpClick">查看我的订单</a>
			</div>
		</div>
    </body>
</html>