<!DOCTYPE html>
<html lang="en">
   <head>
        <meta charset = "utf-8" />
		<title>买德好</title>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="keywords" content="test" />
		<meta name="description" content="买德好专注打造国内首家德国跨境精品聚集地，只将最具品质及品味的德国正品引入国人生活。涵盖生活多方面的产品体系，带来真正一站式的购物便捷体验。独具特色的知识性模块形式，让你无限贴近德式生活" />
		<link href="favicon.ico" rel="icon" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href="../../css_mdh/personal.css">
        <script type="text/javascript" src="../../js_mdh/third/jquery.js"></script>
        <script type="text/javascript" src="../../js_mdh/main/views/base.js"></script>
        <script type="text/javascript" src="../../js_mdh/main/views/personal.js"></script>
    </head>
    <body>
        <!-- 主体内容开始 -->
            <!-- 个人中心左侧导航开始 -->
        <div class="personal clearfix">
            <ul class="personal-nav fl">
                <li><a href="./personal.html">我的信息</a></li>
                <li class="nav"><a class="current" href="javascript:;">我的订单</a>
                    <div class="innav">
                        <a href="javascript:;" class="current">所有订单</a>
                        <a href="javascript:;">退货</a>
                        <a href="./personal-exchange.html">换货维修</a>
                    </div>
                </li>
                <li><a href="./personal-collect.html">我的收藏</a></li>
                <li><a href="./personal-address.html">收件地址</a></li>
                <li><a href="./personal-security.html">安全中心</a></li>
            </ul>
            <!-- 我的订单详情开始 -->
            <div class="personal-returngoods fr ">
                <h5>换货/维修</h5>
                <form class="return-form">
                    <div class="return">
                        <label class="din" for="return">换货/维修原因</label>
                        <select id="return">
                            <option>商品损坏</option>
                        </select>
                    </div>
                    <p class="warn">由于保税仓发货的特殊性，暂时无法换货，请您谅解。若仍有需要，重新下单即可</p>
                    <div class="order">
                    <input class="check din" type="checkbox" >
                        <ul class="order-item bt clearfix">
                            <li>
                                <img src="../../images_mdh/content8.png" height=    "90" width="90">
                            </li>
                            <li class="goods">
                                <h6>小岛老师的蛋糕教师<span>小岛留美</span>  烹饪美食与酒书籍</h6>
                                <div class="number din">
                                    <span>240ml</span>
                                    <p>x<em>10件</em></p>
                                </div>
                                <div class="pirce din">
                                    <span>单价:￥<em>440.00</em></span>
                                    <p>税率:11.9%</p>
                                </div>
                                <div class="place din">
                                    <span>上海保税区发货</span>
                                    <p>已送达</p>
                                </div>
                            </li>
                            <li class="money">
                                <div class="pay">
                                    <strong>实付</strong>
                                    <p class="cash">￥<span>800.00</span></p>
                                </div>
                                <p class="contain">
                                    <span>包含税金</span>
                                    <strong>￥<em>12.00</em></strong>
                                    <span>运费</span>
                                    <strong>￥<em>10.00</em></strong>
                                </p>
                                <b>已共优惠</b>
                                <span class="favorable">￥<em>10.00</em></span>
                            </li>
                    </ul>
                    </div>
                    <div class="order">
                    <input class="check din" type="checkbox" >
                       <ul class="order-item clearfix">
                            <li>
                                <img src="../../images_mdh/content8.png" height=    "90" width="90">
                            </li>
                            <li class="goods">
                                <h6>小岛老师的蛋糕教师<span>小岛留美</span>  烹饪美食与酒书籍</h6>
                                <div class="number din">
                                    <span>240ml</span>
                                    <p>x<em>10件</em></p>
                                </div>
                                <div class="pirce din">
                                    <span>单价:￥<em>440.00</em></span>
                                    <p>税率:11.9%</p>
                                </div>
                                <div class="place din">
                                    <span>上海保税区发货</span>
                                    <p>已送达</p>
                                </div>
                            </li>
                            <li class="money">
                                <div class="pay">
                                    <strong>实付</strong>
                                    <p class="cash">￥<span>800.00</span></p>
                                </div>
                                <p class="contain">
                                    <span>包含税金</span>
                                    <strong>￥<em>12.00</em></strong>
                                    <span>运费</span>
                                    <strong>￥<em>10.00</em></strong>
                                </p>
                                <b>已共优惠</b>
                                <span class="favorable">￥<em>10.00</em></span>
                            </li>
                        </ul>
                    </div>
                    <div class="state">
                        <label class="din" for="state">说明</label>
                        <textarea id="state" placeholder="0-200字"></textarea>
                    </div>
                    <div class="prove">
                        <div class="inprove">
                            <label class="din" for="prove">上传凭证</label>
                            <input type="file" id="prove" placeholder="选择凭证照片">
                            <a href="javascript:;">上传帮助</a>
                        </div>
                        <img class="one" src="../../images_mdh/icon/return.png" height="90" width="97">
                        <img src="../../images_mdh/icon/return.png" height="90" width="97">
                        <div class="append">
                            <span class="din">添加凭证说明</span>
                            <span class="din">添加凭证说明</span>
                        </div>
                    </div>
                    <button class="sub" type="submit">提交申请</button>
                    <button type="button" class="back">取消并返回</button>
                </form>
                <div class="service">
                    <P>若您的上述问题未能解决，请您直接联系我们客服</P>
                    <img src="../../images_mdh/wechat.png" height="186" width="190">
                    <span class="din">关注买德好</span>
                </div>
            </div>
        </div>
    </body>
</html>