<!doctype html>
<html>
	<head>
		<meta charset = "utf-8" />
		<title>买德好</title>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="keywords" content="test" />
		<meta name="description" content="买德好专注打造国内首家德国跨境精品聚集地，只将最具品质及品味的德国正品引入国人生活。涵盖生活多方面的产品体系，带来真正一站式的购物便捷体验。独具特色的知识性模块形式，让你无限贴近德式生活" />
		<link href="favicon.ico" rel="icon" type="image/x-icon" />
		<link type="text/css" rel="stylesheet" href="../../css_mdh/main.css" />
		<script type="text/javascript" src="../../js_mdh/third/jquery.js"></script>
		<script type="text/javascript" src="../../js_mdh/third/jquery.validate.js"></script>
		<script type="text/javascript" src="../../js_mdh/main/views/base.js"></script>
		<script type="text/javascript" src="../../js_mdh/main/views/register.js"></script>
	</head>
    <body>
    	<div id = "header" class="landing"></div>
    	<div class="landing">
			<h1></h1>
			<span>欢迎注册</span>
			<div class = "form" >
				<form id="registerForm" action="http://www.maidehao.com/test/test.php" method="post" novalidate="novalidate" >
					<div class = "username">
						<input class="tet" type="text" placeholder="请输入手机号" id="username" name="username" maxlength="11" />
					</div>
					<div class = "password">
						<input class="tet" type="password" placeholder="请输入密码" id="password" name="password" maxlength="20" autocomplete="off" />
					</div>
					<div class = "re-password">
						<input class="tet" type="password" placeholder="请重新输入密码" name="rePassword" maxlength="20" autocomplete="off" />
					</div>
					<div class = "code">
						<input class="tet" type="text" placeholder="短信验证码" name = "code" maxlength = "6" id = "code"/>
						<button class="register" type = "button" id = "codeButton" >获取验证码</button>
					</div>
					<div class = "agreement">
						<p class="clearfix register">
							<input class="names" type="checkbox" name="agreement" id = "agreement" />
							<a href = "javascript:;">我已阅读并接受服务条款</a>
						</p>
					</div>
					<button class="registered" type = "submit" >立即注册</button>
					<p class="last clearfix">已注册可　
						<a href="javascript:;">直接登陆</a>
						<a class="email" href="javascrpt:;">通过邮箱注册》</a>
					</p>
					<div class="register-fix">
						<div class="register-infix  clearfix">
							<span class="one"></span>
							<span class="two"></span>
							<span class="three"></span>
						</div>
						<p>弱中强</p>
					</div>
				</form>
			</div>
			
			
		</div>
    </body>
</html>