<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset = "utf-8" />
		<title>买德好</title>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="keywords" content="test" />
		<meta name="description" content="买德好专注打造国内首家德国跨境精品聚集地，只将最具品质及品味的德国正品引入国人生活。涵盖生活多方面的产品体系，带来真正一站式的购物便捷体验。独具特色的知识性模块形式，让你无限贴近德式生活" />
		<link href="favicon.ico" rel="icon" type="image/x-icon" />
		<link type="text/css" rel="stylesheet" href="../../css_mdh/common.css" />
		<link type="text/css" rel="stylesheet" href="../../css_mdh/main.css" />
		<script src = "../../js_mdh/third/jquery.js"></script>
		<script src = "../../js_mdh/third/common.js"></script>
		<script src = "../../js_mdh/main/views/base.js"></script>
		<script src = "../../js_mdh/main/views/cart.js"></script>
		<script>

			$(function () {


				/**
				 * 选，加，减，删，提交等功能
				 * cart
				 */
				ShoppingCart({
					urlMinusPlusPost: '../../test/minusplus.json',
					minusPlusData: {},

					urlDeletePost: '../../test/delete.json',
					deleteData: {},

          disabled: 1   // 1选中禁止，0, 不选择不禁止
				});

			});
		</script>
	</head>
    <body>
    	 <!-- 头部开始 -->
			<div data-load="headerData" ></div>
			<script>
				$('[data-load="headerData"]').load('header.html', {}, function (data) {
					$('[data-load="headerData"]').after(data);
					$('[data-load="headerData"]').remove();
				});
			</script>
			<!-- end -->

		<!-- 购物车详情开始 -->
		<div class="shoppingcart-list">
			<a class="nav" href="javascript:;">购物车</a>
			<a class="last nav" href="javascript:;">付款</a>

			<form action = "./buy.html" method = "post" data-data="form">
				<table class="caption">
					<tr>
						<th class="first">
							<input type="checkbox" data-tag="selectAll">
						</th>
						<th>全选</th>
						<th>名称</th>
						<th>数量</th>
						<th>单价</th>
						<th>税率</th>
						<th>税费</th>
						<th>小计</th>
						<th>发货方式</th>
						<th class="last">操作</th>
					</tr>
					<tr class="details" data-list="123456">
						<td class="bl">
							<input class="a" type="checkbox" data-tag="select" >
						</td>
						<td>
							<a href = "javascript:;" >
								<img src="../../images_mdh/content8.png" height="93" width="93"></td>
							</a>
						<td class="text">
							<a href = "javascript:;" >
								<h6>ladmirable香氛蜡烛(清新古龙水)</h6>
								<strong>240ml</strong>
							</a>
						</td>
						<td class="nbr">
							<a href = "javascript:;" data-tag="minus">-</a>
							<span data-tag="count">1</span>
							<a href = "javascript:;" data-tag="plus">+</a>
						</td>
						<td>
							<span>￥790.00</span>
						</td>
						<td>
							<span>10%</span>
						</td>
						<td>
							<span>￥10.00</span>
						</td>
						<td>
							<span data-tag="priceAll">￥800.00</span>
						</td>
						<td>保税区发货</td>
						<td class="br">
							<a herf = "javascript:;" data-tag="del">删除</a>
						</td>
					</tr>
					<tr class="details" data-list=" ">
						<td class="bl">
							<input class="a" type="checkbox" data-tag="select">
						</td>
						<td>
							<a href = "javascript:;" >
								<img src="../../images_mdh/content8.png" height="93" width="93"></td>
							</a>
						<td class="text">
							<a href = "javascript:;" >
								<h6>ladmirable香氛蜡烛(清新古龙水)</h6>
								<strong>240ml</strong>
							</a>
						</td>
						<td class="nbr">
							<a href = "javascript:;" data-tag="minus">-</a>
							<span data-tag="count">1</span>
							<a href = "javascript:;" data-tag="plus">+</a>
						</td>
						<td>
							<span>￥790.00</span>
						</td>
						<td>
							<span>10%</span>
						</td>
						<td>
							<span>￥10.00</span>
						</td>
						<td>
							<span data-tag="priceAll">￥800.00</span>
						</td>
						<td>保税区发货</td>
						<td class="br">
							<a herf = "javascript:;" data-tag="del">删除</a>
						</td>
					</tr>
				</table>
				<P class="total">
					总价/<span>￥</span><span data-tag="totalPrice">0.00</span>
				</P>
				<button class="settlement" type  = "button" data-tag="submit" >立即结算</button>
			</form>

			<div class="null-cart" data-null="cart" class="dn">
				<img src="../../images_mdh/shop-cart.png" height="100" width="100">
				<P>您的购物车什么都没有，<br>
				<a href="./index.html">赶快去商城采购吧！</a>
				</P>
			</div>
		</div>
		
		<!-- 底部开始 -->
		<div data-load="footerData" >
			<script>
				$('[data-load="footerData"]').load('footer.html', {}, function (data) {
					$('[data-load="footerData"]').after(data);
					$('[data-load="footerData"]').remove();
				});
			</script>
		</div>
		<!-- end -->
    </body>
</html>