<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset = "utf-8" />
		<title>买德好</title>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="keywords" content="test" />
		<meta name="description" content="买德好专注打造国内首家德国跨境精品聚集地，只将最具品质及品味的德国正品引入国人生活。涵盖生活多方面的产品体系，带来真正一站式的购物便捷体验。独具特色的知识性模块形式，让你无限贴近德式生活" />
		<link href="favicon.ico" rel="icon" type="image/x-icon" />
		<link type="text/css" rel="stylesheet" href="../../css_mdh/main.css" />
		<script src = "../../js_mdh/third/jquery.js"></script>
		<script src = "../../js_mdh/main/views/base.js"></script>
	</head>
    <body>
    	<div id = "header">
			<a href = "/">
				<h1>买德好</h1>
			</a>
			<div class="search">
				<form>
					<input type="text" placeholder="请输入内容.....">
					<button type="button"></button>
				</form>
			</div>
			<!-- 导航开始 -->
			<div class="nav">
				<ul class="clearfix">
					<li>
						<a href="javascript:;">主页</a>
					</li>
					<li>
						<a href="javascript:;">菜单</a>
						<div class="innav">
							<ol class="clearfix">
								<li>
									<a href="">
										<h2>家居</h2>
									</a>
									<a href="">儿童用品</a>
									<a href="">家具</a>
									<a href="">家居配饰</a>
									<a href="">厨卫用品</a>
								</li>
								<li>
									<a href="">
										<h2>服饰</h2>
									</a>
									<a href="">男士</a>
									<a href="">女士</a>
									<a href="">儿童</a>
								</li>
								<li>
									<a href="">
										<h2>其它</h2>
									</a>
									<a href="">工具</a>
									<a href="">玩具</a>
									<a href="">出版</a>
									<a href="">数码</a>
									<a href="">户外用品</a>
									<a href="">美容护肤</a>
								</li>
								<li>
									<a href="">
										<h2>艺术</h2>
									</a>
									<a href="">绘画</a>
									<a href="">摄影</a>
									<a href="">雕塑</a>
									<a href="">礼物</a>
								</li>
							</ol>
						</div>
					</li>
					<li>
						<a href="javascript:;">积分商城</a>
					</li>
					<li>
						<a href="javascript:;">个人中心</a>
					</li>
					<div class="shoppingcart fr">
						<a href="javascript:;">速冻饺子&nbsp&nbsp|</a>
						<a href="javascript:;">2购物车&nbsp&nbsp|</a>
						<a href="javascript:;">消息&nbsp&nbsp|</a>
						<a href="javascript:;">添加</a>
							<div class="list">
								<p>您的购物车暂时没有商品，快去买德国的好东西吧~</p>
								<a href="javascript:;">查看我的购物车</a>
							</div>
							<div class="list2">
								<img src="../../images_mdh/content3.png" height="80" width="80">
								<p>ladmirable香氛蜡烛(清新古龙水)<br>
									<span>240ml</span><br>
									<strong>数量：2件</strong>
									<em>￥2365.00</em>
								</p>
								<a href="javascript:;">查看我的购物车</a>
							</div>
					</div>
				</ul>
			</div>			
		</div>
		<div class="shoppingcart-list">
			<a class="nav" href="javascript:;">购物车</a>
			<a class="last nav" href="javascript:;">付款</a>
		</div>
    </body>
</html>