<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset = "utf-8" />
		<title>买德好</title>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="keywords" content="test" />
		<meta name="description" content="买德好专注打造国内首家德国跨境精品聚集地，只将最具品质及品味的德国正品引入国人生活。涵盖生活多方面的产品体系，带来真正一站式的购物便捷体验。独具特色的知识性模块形式，让你无限贴近德式生活" />
		<link href="favicon.ico" rel="icon" type="image/x-icon" />
		<link type="text/css" rel="stylesheet" href="../../css_mdh/main.css" />
		<script src = "../../js_mdh/third/jquery.js"></script>
		<script src = "../../js_mdh/main/views/base.js"></script>
	</head>
    <body>
   		<div class="validation">
   			<h1>买德好</h1>
   			<div class="validation-nav">
   				<a href="javascript:;">个人设置</a>
   				<a href="javascript:;">账号安全</a>
   				<a href="javascript:;">收货信息</a>
   				<a href="javascript:;">我的订单</a>
   				<a class="last" href="javascript:;">邀请好友</a>
   			</div>
   			<form class="validationForm">
   				<div class="text">
   					<input type="password" placeholder="登录密码">
   					<a href="javascript:;">修改</a>
   					<p>您的密码由数字、符号以及大小写字母组成，其他将很难猜出您的密码</p>
   				</div>
   				<div class="text">
   					<input type="text" placeholder="手机验证">
   					<a href="javascript:;">修改</a>
   					<p>您验证的手机：152****8716</p>
   				</div>
   				<div class="text">
   					<input type="text" placeholder="邮箱验证">
   					<a href="javascript:;">添加邮箱</a>
   					<p>xxxx@xxxx.com</p>
   				</div>
   				<div class="email">
   					<span>
   						<strong>x</strong>
   					</span>
   					<input type="email" placeholder="请输入您正确的邮箱地址">
   					<button type="submit">提&nbsp&nbsp&nbsp&nbsp交</button>
   				</div>
   			</form>
   		</div>
	</body>
</html>