<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset = "utf-8" />
		<title>买德好</title>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="keywords" content="test" />
		<meta name="description" content="买德好专注打造国内首家德国跨境精品聚集地，只将最具品质及品味的德国正品引入国人生活。涵盖生活多方面的产品体系，带来真正一站式的购物便捷体验。独具特色的知识性模块形式，让你无限贴近德式生活" />
		<link href="favicon.ico" rel="icon" type="image/x-icon" />
		<link type="text/css" rel="stylesheet" href="../../css_mdh/main.css" />
		<script src = "../../js_mdh/third/jquery.js"></script>
    <script src = "../../js_mdh/main/views/base.js"></script>
		<script src = "../../js_mdh/main/views/emailverification.js"></script>
      <script>
        $(function () {
            /**
             * 邮箱验证
             * emailverification.js    1-
             */
            EmailVerification({
               urlEmailVerificationPost: '../../test/test.json',  // ajax 邮箱验证，message.success=>添加修改成功,刷新页面， message.error=>失败，message.content=>错误内容
               data: {
                  // 对象
                  productId: '1234567'
               }
            });

         });


      </script>
	</head>
    <body class = "emailverification">
   		<div class="validation">
   			<h1>买德好</h1>
   			<div class="validation-nav">
   				<a href="javascript:;">个人设置</a>
   				<a href="javascript:;">账号安全</a>
   				<a href="javascript:;">收货信息</a>
   				<a href="javascript:;">我的订单</a>
   				<a class="last" href="javascript:;">邀请好友</a>
   			</div>
   			<div class="validationForm">
   				<div class="text">
   					<!-- <input type="password" placeholder="登录密码"> -->
                  <span>登录密码</span>
   					<a href="javascript:;">修改</a>
   					<p>您的密码由数字、符号以及大小写字母组成，其他将很难猜出您的密码</p>
   				</div>
   				<div class="text">
                  <!-- <input type="text" placeholder="手机验证"> -->
   					<span>手机验证</span>
   					<a href="javascript:;">修改</a>
   					<p>您验证的手机：152****8716</p>
   				</div>
   				<div class="text">
                  <!-- <input type="text" placeholder="邮箱验证"> -->
   					<span>邮箱验证</span>
                  <a href="javascript:;" data-tag="emailClick">添加邮箱</a>
   					<a href="javascript:;" data-tag="emailClick" style = "display:none;">修改邮箱</a>
                  <p>设置并验证后，可用邮箱快速登录，也可方便找回密码！</p>
   					<p style = "display:none;">xxxx@xxxx.com</p>
   				</div>
   				<div class="email" data-tag="email">
   					<span>
   						<strong data-tag="close">x</strong>
   					</span>
   					<input type="email" data-tag="emailInput" placeholder="请输入您正确的邮箱地址">
                  <p class = "error" data-tag="prompt"></p>
   					<button type="button" data-tag="emailSubmit">提交</button>
   				</div>
   			</div>
   		</div>
	</body>
</html>