<!DOCTYPE html>
<html lang="en">
   <head>
    <meta charset = "utf-8" />
    <title>买德好</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="test" />
    <meta name="description" content="买德好专注打造国内首家德国跨境精品聚集地，只将最具品质及品味的德国正品引入国人生活。涵盖生活多方面的产品体系，带来真正一站式的购物便捷体验。独具特色的知识性模块形式，让你无限贴近德式生活" />
    <link href="favicon.ico" rel="icon" type="image/x-icon" />
    <link type="text/css" rel="stylesheet" href="../../css_mdh/main.css" />
    <script src = "../../js_mdh/third/jquery.js"></script>
    <script src = "../../js_mdh/main/views/base.js"></script>
    <script src = "../../js_mdh/main/views/forgetpassword.js"></script>
    <script>
      $(function () {

        /**
         * 控制台可以看到传后台的数据和返回的数据
         */

        /**
         * 验证重置密码
         * ajax 提交密码的
         * 成功弹出窗口
         * 错误提示
         */
        resetPassword({
          urlResetPost: '../../test/test.json',  // 提交密码  password
          data: {
            //对象
          }
        });


      });
    </script>
  </head>
  <body>
    <div class="retrieve">
      <h1>
        <a href="./index.html">买德好</a>
      </h1>
      <div class="retrieve-nav">
        <p class="one">1
        <span>输入账户名</span>
        </p>
        <strong></strong>
        <p class="one">2
        <span>身份验证</span>
        </p>
        <strong></strong>
        <p class="one">3
        <span>重设密码</span>
        </p>
      </div>
      <div class="retrieveForm reset">
        <div class="text">
          <input type="text" value = "" placeholder="重新输入密码" data-tag="password">
        </div>
        <div class="text">
          <input type="text" value = "" placeholder="确认您的密码" data-tag="againPassword">
        </div>
        <div class = "error hidden" data-tag="prompt">
            <i></i>
            <span>验证码错误  请重新输入</span>
        </div>
        <div class="btn">
          <button type="button" data-tag="submit" class = "submit">提交</button>
        </div>
      </div>
      <div class = "popup-finish" data-tag="popup">
        <h3>恭喜您，您的密码修改成功！</h3>
        <a href = "./">返回买德好</a>
      </div>
    </div>
    <div class = "shielding-layer" data-tag="shieldingLayer"></div>
    
  </body>
</html>