<!DOCTYPE html>
<html lang="en">
   <head>
    <meta charset = "utf-8" />
    <title>买德好</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="test" />
    <meta name="description" content="买德好专注打造国内首家德国跨境精品聚集地，只将最具品质及品味的德国正品引入国人生活。涵盖生活多方面的产品体系，带来真正一站式的购物便捷体验。独具特色的知识性模块形式，让你无限贴近德式生活" />
    <link href="favicon.ico" rel="icon" type="image/x-icon" />
    <link type="text/css" rel="stylesheet" href="../../css_mdh/main.css" />
    <script src = "../../js_mdh/third/jquery.js"></script>
    <script src = "../../js_mdh/main/views/base.js"></script>
    <script src = "../../js_mdh/main/views/forgetpassword.js"></script>
    <script>
      $(function () {

        /**
         * 控制台可以看到传后台的数据和返回的数据
         */

        /**
         * 获取图片验证码，提交手机号
         */
        FindPassword({
          codeImgSrc: '../../test/test.json?',    // 图片验证码  里面的图片地址加了时间戳
          urlMobilePost: '../../test/code.json',  // 判断一下手机号是否存在
          data: {
            //对象
          }
        });


      });
    </script>
  </head>
    <body>
    <div class="retrieve">
       <h1>
        <a href="./index.html">买德好</a>
      </h1>
      <div class="retrieve-nav">
        <p class="one">1
        <span>输入账户名</span>
        </p>
        <strong></strong>
        <p>2
        <span>身份验证</span>
        </p>
        <strong></strong>
        <p>3
        <span>重设密码</span>
        </p>
      </div>
      <div class="retrieveForm">
        <form action = "./password_authentication.html" method = "post" data-tag="form" >
          <div class="text">
            <label for = "text">账户名</label>
            <input id="text" type="text" data-tag="mobile" name = "mobile" placeholder="请输入您的手机号">
          </div>
          <div class="code clearfix">
            <label for="code">验证码</label>
            <input id="code" type="text" data-tag="code" placeholder="请输入验证码" name = "code">
            <div class="codeImg">
              <img src = "../../images_mdh/icon/code.png" data-tag="codeImg" title = "验证码图片" />
              <a href="javascript:;" data-tag="codeImgClick">换一张</a>
            </div>
          </div>
          <div class = "error hidden" data-tag="prompt">
              <i></i>
              <span>验证码错误  请重新输入</span>
          </div>
          <div class="btn">
            <button type="button" data-tag="submit" class = "submit">提交</button>
          </div>
        </form>
      </div>
    </div>
    </body>
</html>